In [18]:
import pandas as pd

In [19]:
df1 = pd.read_excel('./nc_soft.xlsx',
                    sheet_name='Data_bs')
df2 = pd.read_excel('./nc_soft.xlsx',
                    sheet_name='Data_cis')
df3 = pd.read_excel('./nc_soft.xlsx',
                    sheet_name='Data_cf')

In [20]:
df1.drop(df1.iloc[:, :2], axis=1, inplace=True)

In [21]:
df1.drop(df1.iloc[:, 1:7], axis=1, inplace=True)

In [22]:
df1.drop(df1.iloc[:, -1:-2:-1], axis=1, inplace=True)

In [23]:
df1.rename(columns={'Unnamed: 2': '자산종류'}, inplace=True)
df1.set_index('자산종류', inplace=True)

In [24]:
df1.drop(df1.index[:2], inplace=True)

In [25]:
df1.drop(df1.index[1:25], inplace=True)

In [26]:
df1.drop(df1.index[3:19], inplace=True)

In [27]:
df1.drop(df1.index[4:5], inplace=True)

In [28]:
df1.drop(df1.index[5:9], inplace=True)

In [29]:
df1

,20201231,20191231,20181231,20171231,20161231,20151231,20141231,20131231,20121231,20111231,20101231
자산종류,,,,,,,,,,,
유동자산,2444363386090,2087864326836,1576408673266,1772726949121,1191628829759,1082774018109,1019545797664,785504544784,674303525826,638973438675,722757843882
자산총계,4081208896622,3346377400385,2941278714044,3526567160619,2360802861680,2219197320342,1698826127743,1479521681932,1316825985169,1113431660024,1023541800118
유동부채,509342417280,449764539269,473074463192,455797606235,284355732572,337541365649,245386466697,251845267481,235652439668,198682914677,191694019750
부채총계,936521663466,834211969584,562307308920,797327860834,465295073708,430262047043,323231513838,320758501362,296262422809,244968179751,262283799453
자본금,10977011000,10977011000,10969511000,10969511000,10964511000,10964511000,10964511000,10957354000,10949416000,10925198500,10903182500
자본총계,3144687233156,2512165430801,2378971405124,2729239299785,1895507787972,1788935273299,1375594613905,1158763180570,1020563562360,868463480273,761258000665
자본과부채총계,4081208896622,3346377400385,2941278714044,3526567160619,2360802861680,2219197320342,1698826127743,1479521681932,1316825985169,1113431660024,1023541800118

In [30]:
df2.drop(df2.index[:2], inplace=True)

In [31]:
df2.drop(df2.iloc[:, :2], axis=1, inplace=True)

In [32]:
df2.drop(df2.iloc[:, 1:6], axis=1, inplace=True)

In [33]:
df2.rename(columns={'Unnamed: 2': '자산종류'}, inplace=True)
df2.set_index('자산종류', inplace=True)

In [34]:
df2.columns = df1.columns

In [35]:
df2.drop(df2.index[3:10], inplace=True)

In [36]:
df2.drop(df2.index[5:], inplace=True)

In [37]:
df2

,20201231,20191231,20181231,20171231,20161231,20151231,20141231,20131231,20121231,20111231,20101231
자산종류,,,,,,,,,,,
영업수익,2416184211886,1701185422583,1715115508236,1758721721721,983556873665,838297603134,838718199693,756655650601,753520026241,608878406065,659671818399
영업비용,1591390506192,1222193003790,1100186195863,1173702759999,654794411500,202683140216,220277004889,220451747908,226175982615,139146698514,124816307460
영업이익(손실),824793705694,478992418793,614929312373,585018961722,328762462165,237466377634,278188111023,205235211161,151252046480,135722444106,222264641364
법인세비용,216643928665,136998851991,215882267950,166199699332,74691206113,73159319384,61489783175,57526635203,29240348127,39534784923,50795387182
당기순이익(손실),586612599330,359154722508,421467650710,444043111896,271381872090,166350442469,227519296162,158695768295,153666725549,117676060139,144261037213

In [38]:
df3.drop(df3.iloc[:, :2], axis=1, inplace=True)

In [39]:
df3.drop(df3.iloc[:, 1:6], axis=1, inplace=True)

In [40]:
df3.drop(df3.iloc[:, -1:], axis=1, inplace=True)

In [41]:
df3.rename(columns={'Unnamed: 2': '자산종류'}, inplace=True)

In [42]:
df3.set_index('자산종류', inplace=True)

In [43]:
df3.drop(df3.index[:2], inplace=True)

In [44]:
df3.drop(df3.index[2:], inplace=True)

In [45]:
df3.columns = df2.columns

In [46]:
df3

,20201231,20191231,20181231,20171231,20161231,20151231,20141231,20131231,20121231,20111231,20101231
자산종류,,,,,,,,,,,
영업활동현금흐름,707646022942,392249235729,352800469174,595173210397,112022508831,241337233887,263580917054,236187663553,210641886701,138554553124,220502551539
영업에서 창출된 현금흐름,857871006822,488771424868,598530170737,640081566975,231723144723,296196615743,315144928207,242144995478,230643032404,177140885851,267342033711

In [47]:
df = pd.concat([df1, df2, df3])

In [48]:
df

,20201231,20191231,20181231,20171231,20161231,20151231,20141231,20131231,20121231,20111231,20101231
자산종류,,,,,,,,,,,
유동자산,2444363386090,2087864326836,1576408673266,1772726949121,1191628829759,1082774018109,1019545797664,785504544784,674303525826,638973438675,722757843882
자산총계,4081208896622,3346377400385,2941278714044,3526567160619,2360802861680,2219197320342,1698826127743,1479521681932,1316825985169,1113431660024,1023541800118
유동부채,509342417280,449764539269,473074463192,455797606235,284355732572,337541365649,245386466697,251845267481,235652439668,198682914677,191694019750
부채총계,936521663466,834211969584,562307308920,797327860834,465295073708,430262047043,323231513838,320758501362,296262422809,244968179751,262283799453
자본금,10977011000,10977011000,10969511000,10969511000,10964511000,10964511000,10964511000,10957354000,10949416000,10925198500,10903182500
자본총계,3144687233156,2512165430801,2378971405124,2729239299785,1895507787972,1788935273299,1375594613905,1158763180570,1020563562360,868463480273,761258000665
자본과부채총계,4081208896622,3346377400385,2941278714044,3526567160619,2360802861680,2219197320342,1698826127743,1479521681932,1316825985169,1113431660024,1023541800118
영업수익,2416184211886,1701185422583,1715115508236,1758721721721,983556873665,838297603134,838718199693,756655650601,753520026241,608878406065,659671818399
영업비용,1591390506192,1222193003790,1100186195863,1173702759999,654794411500,202683140216,220277004889,220451747908,226175982615,139146698514,124816307460
영업이익(손실),824793705694,478992418793,614929312373,585018961722,328762462165,237466377634,278188111023,205235211161,151252046480,135722444106,222264641364
법인세비용,216643928665,136998851991,215882267950,166199699332,74691206113,73159319384,61489783175,57526635203,29240348127,39534784923,50795387182
당기순이익(손실),586612599330,359154722508,421467650710,444043111896,271381872090,166350442469,227519296162,158695768295,153666725549,117676060139,144261037213
영업활동현금흐름,707646022942,392249235729,352800469174,595173210397,112022508831,241337233887,263580917054,236187663553,210641886701,138554553124,220502551539
영업에서 창출된 현금흐름,857871006822,488771424868,598530170737,640081566975,231723144723,296196615743,315144928207,242144995478,230643032404,177140885851,267342033711

In [49]:
df.sort_index()

,20201231,20191231,20181231,20171231,20161231,20151231,20141231,20131231,20121231,20111231,20101231
자산종류,,,,,,,,,,,
당기순이익(손실),586612599330,359154722508,421467650710,444043111896,271381872090,166350442469,227519296162,158695768295,153666725549,117676060139,144261037213
법인세비용,216643928665,136998851991,215882267950,166199699332,74691206113,73159319384,61489783175,57526635203,29240348127,39534784923,50795387182
부채총계,936521663466,834211969584,562307308920,797327860834,465295073708,430262047043,323231513838,320758501362,296262422809,244968179751,262283799453
영업비용,1591390506192,1222193003790,1100186195863,1173702759999,654794411500,202683140216,220277004889,220451747908,226175982615,139146698514,124816307460
영업수익,2416184211886,1701185422583,1715115508236,1758721721721,983556873665,838297603134,838718199693,756655650601,753520026241,608878406065,659671818399
영업에서 창출된 현금흐름,857871006822,488771424868,598530170737,640081566975,231723144723,296196615743,315144928207,242144995478,230643032404,177140885851,267342033711
영업이익(손실),824793705694,478992418793,614929312373,585018961722,328762462165,237466377634,278188111023,205235211161,151252046480,135722444106,222264641364
영업활동현금흐름,707646022942,392249235729,352800469174,595173210397,112022508831,241337233887,263580917054,236187663553,210641886701,138554553124,220502551539
유동부채,509342417280,449764539269,473074463192,455797606235,284355732572,337541365649,245386466697,251845267481,235652439668,198682914677,191694019750
유동자산,2444363386090,2087864326836,1576408673266,1772726949121,1191628829759,1082774018109,1019545797664,785504544784,674303525826,638973438675,722757843882
자본과부채총계,4081208896622,3346377400385,2941278714044,3526567160619,2360802861680,2219197320342,1698826127743,1479521681932,1316825985169,1113431660024,1023541800118
자본금,10977011000,10977011000,10969511000,10969511000,10964511000,10964511000,10964511000,10957354000,10949416000,10925198500,10903182500
자본총계,3144687233156,2512165430801,2378971405124,2729239299785,1895507787972,1788935273299,1375594613905,1158763180570,1020563562360,868463480273,761258000665
자산총계,4081208896622,3346377400385,2941278714044,3526567160619,2360802861680,2219197320342,1698826127743,1479521681932,1316825985169,1113431660024,1023541800118

In [50]:
df = df.sort_index(axis=1)

In [51]:
df.to_csv('./rawdata.csv')

In [52]:
col_list = ['temp']
for i in range(len(df.columns)):
    col_list.append(df.columns[i])

col_list.append('temp')

basic = pd.DataFrame(columns=col_list, index=[
                     '유동비율', '부채비율', 'ROE', 'ROIC', '영업이익률', '매출액증가율', '자기자본증가율'])

In [53]:
basic

,temp,20101231,20111231,20121231,20131231,20141231,20151231,20161231,20171231,20181231,20191231,20201231,temp
유동비율,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
부채비율,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
ROE,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
ROIC,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
영업이익률,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
매출액증가율,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
자기자본증가율,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [54]:
for i in range(1, len(df.columns)):
    basic.loc['유동비율', df.columns[i]] = (
        (df.loc['유동자산', df.columns[i]] / df.loc['유동부채', df.columns[i]]) * 100)
    basic.loc['부채비율', df.columns[i]] = (
        (df.loc['부채총계', df.columns[i]] / df.loc['자본총계', df.columns[i]]) * 100)
    basic.loc['영업이익률', df.columns[i]] = (
        (df.loc['영업이익(손실)', df.columns[i]] / df.loc['영업수익', df.columns[i]]) * 100)
    basic.loc['매출액증가율', df.columns[i]] = (
        ((df.loc['영업수익', df.columns[i]] - df.loc['영업수익', df.columns[i-1]]) / df.loc['영업수익', df.columns[i-1]]) * 100)
    basic.loc['자기자본증가율', df.columns[i]] = (
        ((df.loc['자본총계', df.columns[i]] - df.loc['자본총계', df.columns[i-1]]) / df.loc['자본총계', df.columns[i-1]]) * 100)
    basic.loc['ROE', df.columns[i]] = ((df.loc['당기순이익(손실)', df.columns[i]] / (
        (df.loc['자본총계', df.columns[i-1]] + df.loc['자본총계', df.columns[i]])/2)) * 100)
    basic.loc['ROIC', df.columns[i]] = (((df.loc['영업이익(손실)', df.columns[i]] - df.loc['법인세비용', df.columns[i]]) / (
        (df.loc['자산총계', df.columns[i]] + df.loc['자산총계', df.columns[i]])/2)) * 100)

In [55]:
basic

,temp,20101231,20111231,20121231,20131231,20141231,20151231,20161231,20171231,20181231,20191231,20201231,temp
유동비율,NaN,NaN,321.604623,286.14324,311.899665,415.485748,320.782615,419.062707,388.928534,333.22633,464.212748,479.905718,NaN
부채비율,NaN,NaN,28.207079,29.029297,27.681109,23.497585,24.051292,24.547252,29.214289,23.636573,33.206888,29.781075,NaN
ROE,NaN,NaN,14.441248,16.269405,14.563743,17.954789,10.513438,14.731229,19.202914,16.501577,14.68594,20.739893,NaN
ROIC,NaN,NaN,8.638847,9.26559,9.983536,12.755768,7.403896,10.76207,11.876118,13.567128,10.219815,14.901217,NaN
영업이익률,NaN,NaN,22.290566,20.072731,27.123991,33.168245,28.327217,33.425872,33.263873,35.853522,28.156391,34.13621,NaN
매출액증가율,NaN,NaN,-7.6998,23.75542,0.41613,10.845429,-0.050148,17.327888,78.812407,-2.479427,-0.812195,42.029445,NaN
자기자본증가율,NaN,NaN,14.082674,17.513699,13.5415,18.712316,30.048145,5.957315,43.9846,-12.833902,5.598807,25.17835,NaN

In [56]:
basic.drop(basic.iloc[:, :2], axis=1, inplace=True)

In [57]:
basic

,20111231,20121231,20131231,20141231,20151231,20161231,20171231,20181231,20191231,20201231
유동비율,321.604623,286.14324,311.899665,415.485748,320.782615,419.062707,388.928534,333.22633,464.212748,479.905718
부채비율,28.207079,29.029297,27.681109,23.497585,24.051292,24.547252,29.214289,23.636573,33.206888,29.781075
ROE,14.441248,16.269405,14.563743,17.954789,10.513438,14.731229,19.202914,16.501577,14.68594,20.739893
ROIC,8.638847,9.26559,9.983536,12.755768,7.403896,10.76207,11.876118,13.567128,10.219815,14.901217
영업이익률,22.290566,20.072731,27.123991,33.168245,28.327217,33.425872,33.263873,35.853522,28.156391,34.13621
매출액증가율,-7.6998,23.75542,0.41613,10.845429,-0.050148,17.327888,78.812407,-2.479427,-0.812195,42.029445
자기자본증가율,14.082674,17.513699,13.5415,18.712316,30.048145,5.957315,43.9846,-12.833902,5.598807,25.17835

In [58]:
basic.to_csv('./basic.csv')