In [1]:
# -*- coding: utf-8 -*-
"""
Created on 2021

@author: Administrator
"""

'\nCreated on 2021\n\n@author: Administrator\n'

In [2]:

# =============================================================================
# =============================================================================
# # 문제 01 유형(DataSet_01.csv 이용)
#
# 구분자 : comma(“,”), 4,572 Rows, 5 Columns, UTF-8 인코딩
#
# 글로벌 전자제품 제조회사에서 효과적인 마케팅 방법을 찾기
# 위해서 채널별 마케팅 예산과 매출금액과의 관계를 분석하고자
# 한다.
# 컬 럼 / 정 의  /   Type
# TV   /     TV 마케팅 예산 (억원)  /   Double
# Radio / 라디오 마케팅 예산 (억원)  /   Double
# Social_Media / 소셜미디어 마케팅 예산 (억원)  / Double
# Influencer / 인플루언서 마케팅
# (인플루언서의 영향력 크기에 따라 Mega / Macro / Micro /
# Nano) / String

# SALES / 매출액 / Double
# =============================================================================
# =============================================================================

In [3]:

# =============================================================================
# 1. 데이터 세트 내에 총 결측값의 개수는 몇 개인가? (답안 예시) 23
# =============================================================================
from statsmodels.formula.api import ols
from statsmodels.api import OLS, add_constant
from sklearn.linear_model import LinearRegression
import pandas as pd
import numpy as np
data01 = pd.read_csv('./Dataset/Dataset_01.csv')

print(data01.isna().sum().sum())

# print(data01.isna().sum())

# print(data01.columns)

# print(data01[['TV', 'Radio', 'Social_Media']].isna().sum().sum())

# print(data01.isna().any(axis=1))

# print(data01.isna())

print(data01[data01.isnull().any(axis=1)].reset_index())


# 26

26
    index     TV      Radio  Social_Media Influencer       Sales
0      13    NaN  22.351667      3.031815       Mega  276.165351
1      26    NaN  34.111674      4.624148       Nano  342.913372
2      46    NaN  34.859637      7.781417       Mega  318.969784
3      75    NaN   6.482293      0.866845      Macro   91.177216
4      99    NaN   7.635819      1.554146      Macro   56.186730
5     119    NaN  30.470485      6.806919      Micro  336.818690
6     141    NaN   9.164464      1.096681      Macro   65.259189
7     163    NaN  38.118424      6.676611      Micro  328.555184
8     182   81.0  26.425422           NaN      Macro  288.649441
9     183    NaN   1.287060      0.396179      Macro   56.545293
10    184   25.0   0.413849           NaN      Macro   92.357092
11    186   73.0  25.340209           NaN       Mega  258.358969
12    189   89.0  29.682384           NaN      Macro  320.264397
13    192   41.0  13.142657           NaN       Nano  142.626865
14    195   34.0  12.660398           NaN       Mega  117.114141
15    197   98.0        NaN      6.399730       Nano  345.952838
16    200   89.0        NaN      4.535458      Micro  316.725624
17    203   22.0        NaN      4.132526      Macro   78.031498
18    206   12.0        NaN      1.230026      Micro   50.009210
19    208   77.0  25.598379      5.514787       Nano         NaN
20    210    NaN  17.007075      5.199635      Macro  208.816382
21    214  100.0  36.466753      5.635992       Mega         NaN
22    221   74.0  24.220634      0.285898      Micro         NaN
23    226   19.0   8.726783      0.497838       Mega         NaN
24    231   22.0   6.809752      0.011451      Macro         NaN
25    236   27.0   1.384415      2.398129       Nano         NaN

In [4]:

# =============================================================================
# 2. TV, Radio, Social Media 등 세 가지 다른 마케팅 채널의 예산과 매출액과의 상관분석을
# 통하여 각 채널이 매출에 어느 정도 연관이 있는지 알아보고자 한다.
# - 매출액과 가장 강한 상관관계를 가지고 있는 채널의 상관계수를 소수점 5번째
# 자리에서 반올림하여 소수점 넷째 자리까지 기술하시오. (답안 예시) 0.1234
# =============================================================================

print(data01.corr())


# print(data01.corr().drop('Sales')['Sales'].abs().max())

# print(data01.corr().drop('Sales')['Sales'].abs().idxmax())

# print(data01.corr().drop('Sales')['Sales'].abs().nlargest(2).index)

# cor_dat = data01.corr().drop('Sales')['Sales'].abs()

# print(cor_dat > 0.6)

# print(cor_dat)

# print(cor_dat.index[cor_dat>0.6])


print(round(data01.corr().drop('Sales')['Sales'].abs().max(), 4))

# 0.9995

                    TV     Radio  Social_Media     Sales
TV            1.000000  0.869460      0.528168  0.999497
Radio         0.869460  1.000000      0.607452  0.869105
Social_Media  0.528168  0.607452      1.000000  0.528906
Sales         0.999497  0.869105      0.528906  1.000000
0.9995

In [5]:

# =============================================================================
# 3. 매출액을 종속변수, TV, Radio, Social Media의 예산을 독립변수로 하여 회귀분석을
# 수행하였을 때, 세 개의 독립변수의 회귀계수를 큰 것에서부터 작은 것 순으로
# 기술하시오.
# - 분석 시 결측치가 포함된 행은 제거한 후 진행하며, 회귀계수는 소수점 넷째 자리
# 이하는 버리고 소수점 셋째 자리까지 기술하시오. (답안 예시) 0.123
# =============================================================================

q2 = data01.dropna()


lm = LinearRegression(fit_intercept=False)  # 절편 포함 x
lm = LinearRegression(fit_intercept=True)  # 절편 포함

var_list = ['TV', 'Radio', 'Social_Media']
# lm.fit(q2.drop(columns='Sales'), q2.Sales) # 입력변수 x는 반드시 2차 구조로 입력
lm.fit(q2[var_list], q2.Sales)

dir(lm)

lm.intercept_  # 상수
lm.coef_  # 회귀계수

form1 = 'Sales~' + '+'.join(var_list)
print(form1)
lm2 = ols(form1, data=q2).fit()
dir(lm2)

print(lm2.summary())

coef_value = lm2.params.drop('Intercept')
coef_value.sort_values(ascending=False).values

# 답: ([ 3.562,  0.004, -0.003])

lm2.pvalues.index[lm2.pvalues < 0.05]
# print(q2['Sales'].shape)
# print(q2['Sales'].values)
# print(q2['Sales'].values.reshape(-1,1))
# print(q2[['Sales']].shape)
# print(q2['Sales'].shape)

Sales~TV+Radio+Social_Media
                            OLS Regression Results
==============================================================================
Dep. Variable:                  Sales   R-squared:                       0.999
Model:                            OLS   Adj. R-squared:                  0.999
Method:                 Least Squares   F-statistic:                 1.505e+06
Date:                Tue, 15 Feb 2022   Prob (F-statistic):               0.00
Time:                        18:00:20   Log-Likelihood:                -11366.
No. Observations:                4546   AIC:                         2.274e+04
Df Residuals:                    4542   BIC:                         2.277e+04
Df Model:                           3
Covariance Type:            nonrobust
================================================================================
                   coef    std err          t      P>|t|      [0.025      0.975]
--------------------------------------------------------------------------------
Intercept       -0.1340      0.103     -1.303      0.193      -0.336       0.068
TV               3.5626      0.003   1051.118      0.000       3.556       3.569
Radio           -0.0040      0.010     -0.406      0.685      -0.023       0.015
Social_Media     0.0050      0.025      0.199      0.842      -0.044       0.054
==============================================================================
Omnibus:                        0.056   Durbin-Watson:                   1.998
Prob(Omnibus):                  0.972   Jarque-Bera (JB):                0.034
Skew:                          -0.001   Prob(JB):                        0.983
Kurtosis:                       3.013   Cond. No.                         149.
==============================================================================

Notes:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.

Index(['TV'], dtype='object')

In [6]:
q2.index[lm2.outlier_test()['unadj_p'] < 0.05]

Int64Index([  93,  130,  136,  162,  179,  188,  199,  237,  247,  261,
            ...
            4405, 4412, 4414, 4419, 4428, 4433, 4448, 4452, 4477, 4569],
           dtype='int64', length=219)

In [7]:
x = q2[var_list]
y = q2.Sales

lm3 = OLS(y, x).fit()
lm3.summary()

xx = add_constant(x)

In [8]:
xx

      const    TV      Radio  Social_Media
0       1.0  16.0   6.566231      2.907983
1       1.0  13.0   9.237765      2.409567
2       1.0  41.0  15.886446      2.913410
3       1.0  83.0  30.020028      6.922304
4       1.0  15.0   8.437408      1.405998
...     ...   ...        ...           ...
4567    1.0  26.0   4.472360      0.717090
4568    1.0  71.0  20.610685      6.545573
4569    1.0  44.0  19.800072      5.096192
4570    1.0  71.0  17.534640      1.940873
4571    1.0  42.0  15.966688      5.046548

[4546 rows x 4 columns]

In [9]:
lm3.summary()

<class 'statsmodels.iolib.summary.Summary'>
"""
                                 OLS Regression Results
=======================================================================================
Dep. Variable:                  Sales   R-squared (uncentered):                   1.000
Model:                            OLS   Adj. R-squared (uncentered):              1.000
Method:                 Least Squares   F-statistic:                          7.951e+06
Date:                Tue, 15 Feb 2022   Prob (F-statistic):                        0.00
Time:                        18:00:28   Log-Likelihood:                         -11367.
No. Observations:                4546   AIC:                                  2.274e+04
Df Residuals:                    4543   BIC:                                  2.276e+04
Df Model:                           3
Covariance Type:            nonrobust
================================================================================
                   coef    std err          t      P>|t|      [0.025      0.975]
--------------------------------------------------------------------------------
TV               3.5609      0.003   1133.941      0.000       3.555       3.567
Radio           -0.0039      0.010     -0.400      0.689      -0.023       0.015
Social_Media    -0.0013      0.024     -0.054      0.957      -0.049       0.047
==============================================================================
Omnibus:                        0.061   Durbin-Watson:                   1.999
Prob(Omnibus):                  0.970   Jarque-Bera (JB):                0.038
Skew:                          -0.001   Prob(JB):                        0.981
Kurtosis:                       3.014   Cond. No.                         35.8
==============================================================================

Notes:
[1] R² is computed without centering (uncentered) since the model does not contain a constant.
[2] Standard Errors assume that the covariance matrix of the errors is correctly specified.
"""

In [10]:
lm4 = OLS(y, xx).fit()
lm4.summary()

<class 'statsmodels.iolib.summary.Summary'>
"""
                            OLS Regression Results
==============================================================================
Dep. Variable:                  Sales   R-squared:                       0.999
Model:                            OLS   Adj. R-squared:                  0.999
Method:                 Least Squares   F-statistic:                 1.505e+06
Date:                Tue, 15 Feb 2022   Prob (F-statistic):               0.00
Time:                        18:00:28   Log-Likelihood:                -11366.
No. Observations:                4546   AIC:                         2.274e+04
Df Residuals:                    4542   BIC:                         2.277e+04
Df Model:                           3
Covariance Type:            nonrobust
================================================================================
                   coef    std err          t      P>|t|      [0.025      0.975]
--------------------------------------------------------------------------------
const           -0.1340      0.103     -1.303      0.193      -0.336       0.068
TV               3.5626      0.003   1051.118      0.000       3.556       3.569
Radio           -0.0040      0.010     -0.406      0.685      -0.023       0.015
Social_Media     0.0050      0.025      0.199      0.842      -0.044       0.054
==============================================================================
Omnibus:                        0.056   Durbin-Watson:                   1.998
Prob(Omnibus):                  0.972   Jarque-Bera (JB):                0.034
Skew:                          -0.001   Prob(JB):                        0.983
Kurtosis:                       3.013   Cond. No.                         149.
==============================================================================

Notes:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.
"""

In [11]:

# =============================================================================
# =============================================================================
# # 문제 02 유형(DataSet_02.csv 이용)
# 구분자 : comma(“,”), 200 Rows, 6 Columns, UTF-8 인코딩

# 환자의 상태와 그에 따라 처방된 약에 대한 정보를 분석하고자한다
#
# 컬 럼 / 정 의  / Type
# Age  / 연령 / Integer
# Sex / 성별 / String
# BP / 혈압 레벨 / String
# Cholesterol / 콜레스테롤 레벨 /  String
# Na_to_k / 혈액 내 칼륨에 대비한 나트륨 비율 / Double
# Drug / Drug Type / String
# =============================================================================
# =============================================================================

In [12]:
import pandas as pd
import numpy as np

In [13]:
data02 = pd.read_csv('./Dataset/Dataset_02.csv')
print(data02.head(2))
print(data02.shape)

   Age Sex    BP Cholesterol  Na_to_K   Drug
0   23   F  HIGH        HIGH   25.355  DrugY
1   47   M   LOW        HIGH   13.093  drugC
(200, 6)

In [14]:

# =============================================================================
# 1.해당 데이터에 대한 EDA를 수행하고, 여성으로 혈압이 High, Cholesterol이 Normal인
# 환자의 전체에 대비한 비율이 얼마인지 소수점 네 번째 자리에서 반올림하여 소수점 셋째
# 자리까지 기술하시오. (답안 예시) 0.123
# =============================================================================

In [15]:
data02.columns

Index(['Age', 'Sex', 'BP', 'Cholesterol', 'Na_to_K', 'Drug'], dtype='object')

In [16]:
q1 = data02[['Sex', 'BP', 'Cholesterol']].value_counts(normalize=True)

In [17]:
q1[('F', 'HIGH', 'NORMAL')]

0.105

In [18]:
q1_1 = pd.crosstab(index=[data02['Sex'], data02['BP']],
                   columns=data02['Cholesterol'], normalize=True)

In [19]:
q1_1

Cholesterol   HIGH  NORMAL
Sex BP
F   HIGH     0.085   0.105
    LOW      0.070   0.070
    NORMAL   0.090   0.060
M   HIGH     0.090   0.105
    LOW      0.085   0.095
    NORMAL   0.095   0.050

In [20]:

# =============================================================================
# 2. Age, Sex, BP, Cholesterol 및 Na_to_k 값이 Drug 타입에 영향을 미치는지 확인하기
# 위하여 아래와 같이 데이터를 변환하고 분석을 수행하시오.
# - Age_gr 컬럼을 만들고, Age가 20 미만은 ‘10’, 20부터 30 미만은 ‘20’, 30부터 40 미만은
# ‘30’, 40부터 50 미만은 ‘40’, 50부터 60 미만은 ‘50’, 60이상은 ‘60’으로 변환하시오.
# - Na_K_gr 컬럼을 만들고 Na_to_k 값이 10이하는 ‘Lv1’, 20이하는 ‘Lv2’, 30이하는 ‘Lv3’, 30
# 초과는 ‘Lv4’로 변환하시오.
# - Sex, BP, Cholesterol, Age_gr, Na_K_gr이 Drug 변수와 영향이 있는지 독립성 검정을
# 수행하시오.
# - 검정 수행 결과, Drug 타입과 연관성이 있는 변수는 몇 개인가? 연관성이 있는 변수
# 가운데 가장 큰 p-value를 찾아 소수점 여섯 번째 자리 이하는 버리고 소수점 다섯
# 번째 자리까지 기술하시오.
# (답안 예시) 3, 1.23456
# =============================================================================

In [21]:
q2 = data02.copy()

In [22]:
q2.columns

Index(['Age', 'Sex', 'BP', 'Cholesterol', 'Na_to_K', 'Drug'], dtype='object')

In [23]:
q2['Age_gr'] = np.where(q2.Age < 20, 10,
                        np.where(q2.Age < 30, 20,
                                 np.where(q2.Age < 40, 30,
                                          np.where(q2.Age < 50, 40,
                                                   np.where(q2.Age < 60, 50, 60)))))

q2['Na_K_gr'] = np.where(q2.Na_to_K <= 10, 'Lv1',
                         np.where(q2.Na_to_K <= 20, 'Lv2',
                                  np.where(q2.Na_to_K <= 30, 'Lv3', 'Lv4')))

In [24]:
from scipy.stats import chi2_contingency

In [25]:
tab = pd.crosstab(index=q2.Sex, columns=q2.Drug)

In [26]:
q2_out = chi2_contingency(tab)

In [27]:
q2_out[1]

0.7138369773987128

In [28]:
q2_out

(2.119248418109203,
 0.7138369773987128,
 4,
 array([[43.68, 11.04,  7.68,  7.68, 25.92],
        [47.32, 11.96,  8.32,  8.32, 28.08]]))

In [29]:
q2.columns

Index(['Age', 'Sex', 'BP', 'Cholesterol', 'Na_to_K', 'Drug', 'Age_gr',
       'Na_K_gr'],
      dtype='object')

In [30]:
var_list = ['Sex', 'BP', 'Cholesterol', 'Age_gr', 'Na_K_gr']

In [31]:
q2_out = []
for i in var_list:
    tab = pd.crosstab(index=q2[i], columns=q2.Drug)
    q2_out0 = chi2_contingency(tab)
    pvalue = q2_out0[1]
    q2_out.append([i, pvalue])

In [32]:
q2_out

[['Sex', 0.7138369773987128],
 ['BP', 5.0417334144665895e-27],
 ['Cholesterol', 0.0005962588389856497],
 ['Age_gr', 0.0007010113024729462],
 ['Na_K_gr', 1.1254641594413981e-14]]

In [33]:
q2_out = pd.DataFrame(q2_out, columns=['var', 'pvalue'])

In [34]:
q2_out

           var        pvalue
0          Sex  7.138370e-01
1           BP  5.041733e-27
2  Cholesterol  5.962588e-04
3       Age_gr  7.010113e-04
4      Na_K_gr  1.125464e-14

In [35]:
q2_out[q2_out.pvalue < 0.05]

           var        pvalue
1           BP  5.041733e-27
2  Cholesterol  5.962588e-04
3       Age_gr  7.010113e-04
4      Na_K_gr  1.125464e-14

In [36]:
q2_out2 = q2_out[q2_out.pvalue < 0.05]

In [37]:
q2_out2.pvalue.idxmax()

3

In [38]:
idx = q2_out2.pvalue.idxmax()

In [39]:
q2_out2.iloc[idx, :]

var       Na_K_gr
pvalue        0.0
Name: 4, dtype: object

In [40]:
q2_out2.pvalue.max()

0.0007010113024729462

In [41]:
import math

In [42]:
math.floor(q2_out2.pvalue.max())

0

In [43]:
type(q2_out2.pvalue.max())

numpy.float64

In [44]:
a = np.array(q2_out2.pvalue.max())

In [45]:
format(np.floor(a*100000)/100000, '.5f')

'0.00070'

In [46]:
# 0.00070

In [47]:

# =============================================================================
# 3.Sex, BP, Cholesterol 등 세 개의 변수를 다음과 같이 변환하고 의사결정나무를 이용한
# 분석을 수행하시오.
# - Sex는 M을 0, F를 1로 변환하여 Sex_cd 변수 생성
# - BP는 LOW는 0, NORMAL은 1 그리고 HIGH는 2로 변환하여 BP_cd 변수 생성
# - Cholesterol은 NORMAL은 0, HIGH는 1로 변환하여 Ch_cd 생성
# - Age, Na_to_k, Sex_cd, BP_cd, Ch_cd를 Feature로, Drug을 Label로 하여 의사결정나무를
# 수행하고 Root Node의 split feature와 split value를 기술하시오.
# 이 때 split value는 소수점 셋째 자리까지 반올림하여 기술하시오. (답안 예시) Age,
# 12.345
# =============================================================================

In [48]:

# =============================================================================
# =============================================================================
# # 문제 03 유형(DataSet_03.csv 이용)
#
# 구분자 : comma(“,”), 5,001 Rows, 8 Columns, UTF-8 인코딩
# 안경 체인을 운영하고 있는 한 회사에서 고객 사진을 바탕으로 안경의 사이즈를
# 맞춤 제작하는 비즈니스를 기획하고 있다. 우선 데이터만으로 고객의 성별을
# 파악하는 것이 가능할 지를 연구하고자 한다.
#
# 컬 럼 / 정 의 / Type
# long_hair / 머리카락 길이 (0 – 길지 않은 경우 / 1 – 긴
# 경우) / Integer
# forehead_width_cm / 이마의 폭 (cm) / Double
# forehead_height_cm / 이마의 높이 (cm) / Double
# nose_wide / 코의 넓이 (0 – 넓지 않은 경우 / 1 – 넓은 경우) / Integer
# nose_long / 코의 길이 (0 – 길지 않은 경우 / 1 – 긴 경우) / Integer
# lips_thin / 입술이 얇은지 여부 0 – 얇지 않은 경우 / 1 –
# 얇은 경우) / Integer
# distance_nose_to_lip_long / 인중의 길이(0 – 인중이 짧은 경우 / 1 – 인중이
# 긴 경우) / Integer
# gender / 성별 (Female / Male) / String
# =============================================================================
# =============================================================================

In [49]:
import pandas as pd
import numpy as np

data03 = pd.read_csv('./Dataset/Dataset_03.csv')

In [50]:

# =============================================================================
# 1.이마의 폭(forehead_width_cm)과 높이(forehead_height_cm) 사이의
# 비율(forehead_ratio)에 대해서 평균으로부터 3 표준편차 밖의 경우를 이상치로
# 정의할 때, 이상치에 해당하는 데이터는 몇 개인가? (답안 예시) 10
# =============================================================================

In [51]:
q1 = data03.copy()
q1['forehead_ratio'] = q1['forehead_width_cm']/q1['forehead_height_cm']

In [52]:
xbar = q1['forehead_ratio'].mean()

In [53]:
std = q1['forehead_ratio'].std()

In [54]:
ub = xbar + 3 * std
lb = xbar - 3 * std

In [55]:
q1[(q1['forehead_ratio'] > ub) | (q1['forehead_ratio'] < lb)]

,long_hair,forehead_width_cm,forehead_height_cm,nose_wide,nose_long,lips_thin,distance_nose_to_lip_long,gender,forehead_ratio
1641,1,15.5,5.1,1,1,1,1,Male,3.039216
1817,1,15.5,5.1,1,0,1,1,Male,3.039216
4948,0,15.5,5.1,1,1,1,1,Male,3.039216

In [56]:
# 답 : 3

In [57]:

# =============================================================================
# 2.성별에 따라 forehead_ratio 평균에 차이가 있는지 적절한 통계 검정을 수행하시오.
# - 검정은 이분산을 가정하고 수행한다.
# - 검정통계량의 추정치는 절대값을 취한 후 소수점 셋째 자리까지 반올림하여
# 기술하시오.
# - 신뢰수준 99%에서 양측 검정을 수행하고 결과는 귀무가설 기각의 경우 Y로, 그렇지
# 않을 경우 N으로 답하시오. (답안 예시) 1.234, Y
# =============================================================================

In [58]:
# ttest_ind  독립
# ttest_rel

In [59]:
from scipy.stats import ttest_ind, ttest_rel

In [60]:
g_m = q1[q1.gender == 'Male']['forehead_ratio']
g_f = q1[q1.gender == 'Female']['forehead_ratio']

In [61]:
q2_out = ttest_ind(g_m, g_f, equal_var=False)
q2_out

Ttest_indResult(statistic=2.9994984197511543, pvalue=0.0027186702390657176)

In [62]:
q2_out.pvalue * 2 < 0.01

True

In [63]:
round(q2_out.statistic, 3)

2.999

In [64]:
# 답: Y, 2.999

In [65]:

# =============================================================================
# 3.주어진 데이터를 사용하여 성별을 구분할 수 있는지 로지스틱 회귀분석을 적용하여
# 알아 보고자 한다.
# - 데이터를 7대 3으로 나누어 각각 Train과 Test set로 사용한다. 이 때 seed는 123으로
# 한다.
# - 원 데이터에 있는 7개의 변수만 Feature로 사용하고 gender를 label로 사용한다.
# (forehead_ratio는 사용하지 않음)
# - 로지스틱 회귀분석 예측 함수와 Test dataset를 사용하여 예측을 수행하고 정확도를
# 평가한다. 이 때 임계값은 0.5를 사용한다.
# - Male의 Precision 값을 소수점 둘째 자리까지 반올림하여 기술하시오. (답안 예시)
# 0.12
#
#
# (참고)
# from sklearn.linear_model import LogisticRegression
# from sklearn.model_selection import train_test_split
# from sklearn import metrics
# train_test_split 의 random_state = 123
# =============================================================================

In [66]:

# =============================================================================
# =============================================================================
# # 문제 04 유형(DataSet_04.csv 이용)
#
# 구분자 : comma(“,”), 6,718 Rows, 4 Columns, UTF-8 인코딩

# 한국인의 식생활 변화가 건강에 미치는 영향을 분석하기에 앞서 육류
# 소비량에 대한 분석을 하려고 한다. 확보한 데이터는 세계 각국의 1인당
# 육류 소비량 데이터로 아래와 같은 내용을 담고 있다.

# 컬 럼 / 정 의 / Type
# LOCATION / 국가명 / String
# SUBJECT / 육류 종류 (BEEF / PIG / POULTRY / SHEEP) / String
# TIME / 연도 (1990 ~ 2026) / Integer
# Value / 1인당 육류 소비량 (KG) / Double
# =============================================================================
# =============================================================================

# (참고)
# #1
# import pandas as pd
# import numpy as np
# #2
# from scipy.stats import ttest_rel
# #3
# from sklearn.linear_model import LinearRegression

In [67]:

# =============================================================================
# 1.한국인의 1인당 육류 소비량이 해가 갈수록 증가하는 것으로 보여 상관분석을 통하여
# 확인하려고 한다.
# - 데이터 파일로부터 한국 데이터만 추출한다. 한국은 KOR로 표기되어 있다.
# - 년도별 육류 소비량 합계를 구하여 TIME과 Value간의 상관분석을 수행하고
# 상관계수를 소수점 셋째 자리에서 반올림하여 소수점 둘째 자리까지만 기술하시오.
# (답안 예시) 0.55
# =============================================================================

In [68]:

# =============================================================================
# 2. 한국 인근 국가 가운데 식생의 유사성이 상대적으로 높은 일본(JPN)과 비교하여, 연도별
# 소비량에 평균 차이가 있는지 분석하고자 한다.
# - 두 국가의 육류별 소비량을 연도기준으로 비교하는 대응표본 t 검정을 수행하시오.
# - 두 국가 간의 연도별 소비량 차이가 없는 것으로 판단할 수 있는 육류 종류를 모두
# 적으시오. (알파벳 순서) (답안 예시) BEEF, PIG, POULTRY, SHEEP
# =============================================================================

In [69]:

# =============================================================================
# 3.(한국만 포함한 데이터에서) Time을 독립변수로, Value를 종속변수로 하여 육류
# 종류(SUBJECT) 별로 회귀분석을 수행하였을 때, 가장 높은 결정계수를 가진 모델의
# 학습오차 중 MAPE를 반올림하여 소수점 둘째 자리까지 기술하시오. (답안 예시) 21.12
# (MAPE : Mean Absolute Percentage Error, 평균 절대 백분율 오차)
# (MAPE = Σ ( | y - y ̂ | / y ) * 100/n ))
#
# =============================================================================

In [70]:

# =============================================================================
# =============================================================================
# # 문제 05 유형(DataSet_05.csv 이용)
#
# 구분자 : comma(“,”), 8,068 Rows, 12 Columns, UTF-8 인코딩
#
# A자동차 회사는 신규 진입하는 시장에 기존 모델을 판매하기 위한 마케팅 전략을
# 세우려고 한다. 기존 시장과 고객 특성이 유사하다는 전제 하에 기존 고객을 세분화하여
# 각 그룹의 특징을 파악하고, 이를 이용하여 신규 진입 시장의 마케팅 계획을
# 수립하고자 한다. 다음은 기존 시장 고객에 대한 데이터이다.
#

# 컬 럼 / 정 의 / Type
# ID / 고유 식별자 / Double
# Age / 나이 / Double
# Age_gr / 나이 그룹 (10/20/30/40/50/60/70) / Double
# Gender / 성별 (여성 : 0 / 남성 : 1) / Double
# Work_Experience / 취업 연수 (0 ~ 14) / Double
# Family_Size / 가족 규모 (1 ~ 9) / Double
# Ever_Married / 결혼 여부 (Unknown : 0 / No : 1 / Yes : 2) / Double
# Graduated / 재학 중인지 여부 / Double
# Profession / 직업 (Unknown : 0 / Artist ~ Marketing 등 9개) / Double
# Spending_Score / 소비 점수 (Average : 0 / High : 1 / Low : 2) / Double
# Var_1 / 내용이 알려지지 않은 고객 분류 코드 (0 ~ 7) / Double
# Segmentation / 고객 세분화 결과 (A ~ D) / String
# =============================================================================
# =============================================================================


# (참고)
# 1
# import pandas as pd
# #2
# from scipy.stats import chi2_contingency
# #3
# from sklearn.model_selection import train_test_split
# from sklearn import metrics
# from sklearn.tree import DecisionTreeClassifier
# from sklearn.tree import export_graphviz
# import pydot

In [71]:

# =============================================================================
# 1.위의 표에 표시된 데이터 타입에 맞도록 전처리를 수행하였을 때, 데이터 파일 내에
# 존재하는 결측값은 모두 몇 개인가? 숫자형 데이터와 문자열 데이터의 결측값을
# 모두 더하여 답하시오.
# (String 타입 변수의 경우 White Space(Blank)를 결측으로 처리한다) (답안 예시) 123
# =============================================================================

In [72]:

# =============================================================================
# 2.이어지는 분석을 위해 결측값을 모두 삭제한다. 그리고, 성별이 세분화(Segmentation)에
# 영향을 미치는지 독립성 검정을 수행한다. 수행 결과, p-value를 반올림하여 소수점
# 넷째 자리까지 쓰고, 귀무가설을 기각하면 Y로, 기각할 수 없으면 N으로 기술하시오.
# (답안 예시) 0.2345, N
# =============================================================================

In [73]:

# =============================================================================
# 3.Segmentation 값이 A 또는 D인 데이터만 사용하여 의사결정 나무 기법으로 분류
# 정확도를
# 측정해 본다.
# - 결측치가 포함된 행은 제거한 후 진행하시오.
# - Train대 Test 7대3으로 데이터를 분리한다. (Seed = 123)
# - Train 데이터를 사용하여 의사결정나무 학습을 수행하고, Test 데이터로 평가를
# 수행한다.
# - 의사결정나무 학습 시, 다음과 같이 설정하시오:
# • Feature: Age_gr, Gender, Work_Experience, Family_Size,
#             Ever_Married, Graduated, Spending_Score
# • Label : Segmentation
# • Parameter : Gini / Max Depth = 7 / Seed = 123
# 이 때 전체 정확도(Accuracy)를 소수점 셋째 자리 이하는 버리고 소수점 둘째자리까지
# 기술하시오.
# (답안 예시) 0.12
# =============================================================================