In [1]:
import pandas as pd

In [39]:
name = 'skhynix'
code = '018670'
kospi = 'KS'
kosdaq = 'KQ'
file_name = f'{name}.csv'

In [40]:
df = pd.read_csv(f'./{file_name}')
df.rename(columns={'Unnamed: 0': 'Date'}, inplace=True)
df.set_index('Date', inplace=True)

In [41]:
import pandas as pd
import pandas_datareader.data as web
import datetime
start = datetime.datetime(2011, 1, 1)
end = datetime.datetime(2020, 12, 1)

price = web.DataReader(f"{code}.KS", "yahoo", start=start, end=end)

In [42]:
temp = pd.DataFrame(columns=['ROIC'], index=df.index)
for i in range(len(df.index)):
    temp.loc[df.index[i], 'ROIC'] = (
        (df.loc[df.index[i], '영업이익(손실)'] -
          df.loc[df.index[i], '법인세비용']) / df.loc[df.index[i], '자산총계']) * 100
temp.drop(temp.index[0], inplace=True)

In [43]:
temp2 = []
for i in range(2011, 2020):
    k = price[f'{i}']['Close'].mean()
    temp2.append(round(k))

C:\Users\BAUM\AppData\Local\Temp\ipykernel_15236\2731422660.py:3: FutureWarning: Indexing a DataFrame with a datetimelike index using a single string to slice the rows, like `frame[string]`, is deprecated and will be removed in a future version. Use `frame.loc[string]` instead.
  k = price[f'{i}']['Close'].mean()

In [44]:
temp['year_price']= temp2

In [45]:
temp

               ROIC  year_price
Date
20111231   1.554558       54443
20121231  -1.001909       68923
20131231   15.27947       72067
20141231  15.834992       95358
20151231  14.794083       83450
20161231   9.376622       86100
20171231  24.051846      107218
20181231  23.630376       86715
20191231   3.528941       80654

In [46]:
temp.to_csv(f'./{name}_base.csv')