In [1]:
# # 문제 06 유형(DataSet_06.csv 이용)
#
# 구분자 : comma(“,”), 4,323 Rows, 19 Columns, UTF-8 인코딩

# 주택 관련 정보를 바탕으로 주택 가격을 예측해 보고자 한다. 
# 다음은 확보한 주택 관련 데이터로 총 19개 컬럼으로 구성되어
# 있다.

# 컬 럼 / 정 의 / Type
# id / 매물 번호 / Double
# date / 날짜 / String
# price / 거래 가격 / Double
# bedrooms / 방 개수 / Double
# bathrooms / 화장실 개수 (화장실은 있으나 샤워기 없는 경우 0.5로 처리) / Double
# sqft_living / 건축물 면적 / Double
# sqft_lot / 대지 면적 / Double
# floors / 건축물의 층수 / Double
# waterfront / 강변 조망 가능 여부 (0 / 1) / Double
# view / 경관 (나쁨에서 좋음으로 0 ~ 4로 표시) / Double
# condition / 관리 상태 (나쁨에서 좋음으로 1 ~ 5로 표시) / Double
# grade / 등급 (낮음에서 높음으로 1 ~ 13으로 표시) / Double
# sqft_above / 지상 면적 / Double
# sqft_basement / 지하실 면적 / Double
# yr_built / 건축 연도 / Double
# yr_renovated / 개축 연도 / Double
# zipcode / 우편번호 / Double
# sqft_living15 / 15개의 인근 주택의 평균 건물 면적 / Double
# sqft_lot15 / 15개의 인근 주택의 평균 대지 면적 / Double

In [2]:
import pandas as pd
import numpy as np

In [3]:
df = pd.read_csv('../Dataset/Dataset_06.csv')
df.head(3)

,id,date,price,bedrooms,bathrooms,sqft_living,sqft_lot,floors,waterfront,view,condition,grade,sqft_above,sqft_basement,yr_built,yr_renovated,zipcode,sqft_living15,sqft_lot15
0,2597000006,20150309T000000,347500.0,3,1.50,1180,8353,1.0,0,0,3,7,1180,0,1960,0,98155,1710,8748
1,8813400345,20150414T000000,575000.0,2,1.00,980,3663,1.0,0,0,5,7,980,0,1909,0,98105,1620,3706
2,226059106,20150102T000000,489500.0,3,1.75,2090,65558,1.0,0,0,3,8,1330,760,1977,0,98072,2450,47178

In [4]:
# 1.강변 조망이 가능한지 여부(waterfront)에 따라 평균 주택 가격을 계산하고 조망이
# 가능한 경우와 그렇지 않은 경우의 평균 가격 차이의 절대값을 구하시오. 답은
# 소수점 이하는 버리고 정수부만 기술하시오. (답안 예시) 1234567

In [7]:
water_1 = df[df.waterfront == 0]['price'].mean()
water_2 = df[df.waterfront == 1]['price'].mean()

In [8]:
abs(water_1 - water_2)

1167272.748018648

In [9]:
# 답 : 1167272

In [10]:
# 2.price, bedrooms, bathrooms, sqft_living, sqft_lot, floors, yr_built 등 7개의 변수 간의
# 상관분석을 수행하고 price와의 상관계수의 절대값이 가장 큰 변수와 가장 작은
# 변수를 차례로 기술하시오. (답안 예시) view, zipcode

In [11]:
var_list = ['price', 'bedrooms', 'bathrooms', 'sqft_living', 'sqft_lot', 'floors', 'yr_built']

In [12]:
corr_df = df[var_list]

In [17]:
corr_df.corr().drop('price')['price'].abs().sort_values(ascending=False)

sqft_living    0.709157
bathrooms      0.534277
bedrooms       0.279824
floors         0.270423
sqft_lot       0.106341
yr_built       0.059895
Name: price, dtype: float64

In [18]:
# 답 : sqft_living, yr_built

In [19]:
# 3. id, date, 그리고 zipcode를 제외한 모든 변수를 독립변수로, price를 종속변수로 하여
# 회귀분석을 수행하시오. 통계적 유의성을 갖지 못하는 독립변수를 제거하면 회귀
# 모형에 남는 변수는 모두
# 몇 개인가? 이 때 음의 회귀계수를 가지는 변수는 몇 개인가? (답안 예시) 5, 3

In [20]:
# import pandas as pd
# import numpy as np
# from sklearn.linear_model import LinearRegression
# from statsmodels.formula.api import ols

In [22]:
feature = df.drop(columns=['id', 'date', 'zipcode', 'price'], axis=1).columns
feature

Index(['bedrooms', 'bathrooms', 'sqft_living', 'sqft_lot', 'floors',
       'waterfront', 'view', 'condition', 'grade', 'sqft_above',
       'sqft_basement', 'yr_built', 'yr_renovated', 'sqft_living15',
       'sqft_lot15'],
      dtype='object')

In [23]:
from statsmodels.formula.api import ols

In [25]:
form = 'price~' + '+'.join(feature)

In [26]:
model = ols(form, data=df)

In [37]:
result = model.fit()
result

In [38]:
result.summary()

<class 'statsmodels.iolib.summary.Summary'>
"""
                            OLS Regression Results
==============================================================================
Dep. Variable:                  price   R-squared:                       0.681
Model:                            OLS   Adj. R-squared:                  0.680
Method:                 Least Squares   F-statistic:                     656.0
Date:                Thu, 24 Feb 2022   Prob (F-statistic):               0.00
Time:                        17:06:32   Log-Likelihood:                -58960.
No. Observations:                4323   AIC:                         1.180e+05
Df Residuals:                    4308   BIC:                         1.180e+05
Df Model:                          14
Covariance Type:            nonrobust
=================================================================================
                    coef    std err          t      P>|t|      [0.025      0.975]
---------------------------------------------------------------------------------
Intercept      6.302e+06   2.95e+05     21.401      0.000    5.73e+06    6.88e+06
bedrooms        -2.5e+04   3680.510     -6.791      0.000   -3.22e+04   -1.78e+04
bathrooms      5.179e+04   7163.408      7.230      0.000    3.77e+04    6.58e+04
sqft_living      92.3080      5.074     18.192      0.000      82.360     102.256
sqft_lot          0.0054      0.093      0.059      0.953      -0.176       0.187
floors         3.748e+04   8141.392      4.604      0.000    2.15e+04    5.34e+04
waterfront     6.277e+05   3.91e+04     16.064      0.000    5.51e+05    7.04e+05
view            4.04e+04   4797.344      8.421      0.000     3.1e+04    4.98e+04
condition      1.571e+04   5317.387      2.954      0.003    5280.918    2.61e+04
grade          1.306e+05   4700.604     27.789      0.000    1.21e+05     1.4e+05
sqft_above       33.7358      4.981      6.773      0.000      23.971      43.501
sqft_basement    58.5722      5.840     10.030      0.000      47.123      70.021
yr_built      -3666.8957    150.805    -24.316      0.000   -3962.551   -3371.241
yr_renovated     17.7032      8.265      2.142      0.032       1.499      33.908
sqft_living15    23.0114      7.561      3.044      0.002       8.188      37.834
sqft_lot15       -0.2323      0.142     -1.637      0.102      -0.511       0.046
==============================================================================
Omnibus:                     2170.721   Durbin-Watson:                   2.011
Prob(Omnibus):                  0.000   Jarque-Bera (JB):            38362.875
Skew:                           1.971   Prob(JB):                         0.00
Kurtosis:                      17.051   Cond. No.                     1.38e+17
==============================================================================

Notes:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.
[2] The smallest eigenvalue is 8.58e-22. This might indicate that there are
strong multicollinearity problems or that the design matrix is singular.
"""

In [41]:
len(result.pvalues < 0.05)

16

In [60]:
result.pvalues.reset_index()[result.pvalues.reset_index()[0] <0.05].reset_index()

    level_0          index              0
0         0      Intercept   1.204633e-96
1         1       bedrooms   1.262643e-11
2         2      bathrooms   5.681393e-13
3         3    sqft_living   2.616953e-71
4         5         floors   4.266372e-06
5         6     waterfront   1.931929e-56
6         7           view   5.028272e-17
7         8      condition   3.157318e-03
8         9          grade  1.760208e-156
9        10     sqft_above   1.431345e-11
10       11  sqft_basement   2.030015e-23
11       12       yr_built  1.717539e-122
12       13   yr_renovated   3.226128e-02
13       14  sqft_living15   2.352216e-03

In [57]:
result.pvalues < 0.05

Intercept         True
bedrooms          True
bathrooms         True
sqft_living       True
sqft_lot         False
floors            True
waterfront        True
view              True
condition         True
grade             True
sqft_above        True
sqft_basement     True
yr_built          True
yr_renovated      True
sqft_living15     True
sqft_lot15       False
dtype: bool

In [71]:
result_out = (result.pvalues < 0.05).drop('Intercept')
result_out.sum()

13

In [73]:
result_out

bedrooms          True
bathrooms         True
sqft_living       True
sqft_lot         False
floors            True
waterfront        True
view              True
condition         True
grade             True
sqft_above        True
sqft_basement     True
yr_built          True
yr_renovated      True
sqft_living15     True
sqft_lot15       False
dtype: bool

In [68]:
result.params

Intercept        6.302495e+06
bedrooms        -2.499553e+04
bathrooms        5.179234e+04
sqft_living      9.230805e+01
sqft_lot         5.444844e-03
floors           3.748199e+04
waterfront       6.276528e+05
view             4.039778e+04
condition        1.570573e+04
grade            1.306274e+05
sqft_above       3.373579e+01
sqft_basement    5.857225e+01
yr_built        -3.666896e+03
yr_renovated     1.770319e+01
sqft_living15    2.301144e+01
sqft_lot15      -2.322904e-01
dtype: float64

In [76]:
(result.params.drop('Intercept')[result_out] < 0).sum()

2

In [77]:
# 답 : 13, 2

In [82]:
df = result.params.drop('Intercept').reset_index()
df

            index              0
0        bedrooms  -24995.525070
1       bathrooms   51792.344459
2     sqft_living      92.308047
3        sqft_lot       0.005445
4          floors   37481.990454
5      waterfront  627652.843940
6            view   40397.783242
7       condition   15705.734137
8           grade  130627.395937
9      sqft_above      33.735791
10  sqft_basement      58.572248
11       yr_built   -3666.895673
12   yr_renovated      17.703192
13  sqft_living15      23.011443
14     sqft_lot15      -0.232290

In [101]:
df[df[0] < 0]['index'].tolist()

['bedrooms', 'yr_built', 'sqft_lot15']

In [102]:
# # 문제 07 유형(DataSet_07.csv 이용)
#
# 구분자 : comma(“,”), 400 Rows, 9 Columns, UTF-8 인코딩
#
# 대학원 진학을 위하여 어떤 항목이 중요하게 영향을 미치는지
# 아래 데이터로 분석하고자 한다.

# 컬 럼 / 정 의 / Type
# Serial_No / 구분자 번호 / Double
# GRE / GRE 시험 성적 / Double
# TOEFL / TOEFL 시험 성적 / Double
# University_Rating / 대학 평가 그룹 (1 ~ 5) / Double
# SOP / 자기 소개서 점수 (1 ~ 5) / Double
# LOR / 추천서 점수 (1 ~ 5) / Double
# CGPA / 학부 평량 평점 (10점 만점 환산 점수) / Double
# Research / 연구 참여 경험 여부 (0 / 1) / Double
# Chance_of_Admit / 합격 가능성 / Double

In [103]:
import pandas as pd
import numpy as np

In [104]:
df = pd.read_csv('../Dataset/Dataset_07.csv')
df.head()

,Serial_No,GRE,TOEFL,University_Rating,SOP,LOR,CGPA,Research,Chance_of_Admit
0,1,337,118,4,4.5,4.5,9.65,1,0.92
1,2,324,107,4,4.0,4.5,8.87,1,0.76
2,3,316,104,3,3.0,3.5,8.00,1,0.72
3,4,322,110,3,3.5,2.5,8.67,1,0.80
4,5,314,103,2,2.0,3.0,8.21,0,0.65

In [105]:
# 1. 합격 가능성에 GRE, TOEFL, CGPA 점수 가운데 가장 영향이 큰 것이 어떤 점수인지
# 알아 보기 위해서 상관 분석을 수행한다.
# - 피어슨(Pearson) 상관계수 값을 구한다.
# - Chance_of_Admit와의 가장 큰 상관계수 값을 가지는 항목의 상관계수를 소수점 넷째
# 자리에서 반올림하여 셋째 자리까지 기술하시오. (답안 예시) 0.123

# (참고)
# #1
# import pandas as pd
# #2
# import scipy.stats as stats
# #3
# from sklearn.linear_model import LogisticRegression
# Solver = ‘liblinear’, random_state = 12

In [106]:
feature = ['GRE', 'TOEFL', 'CGPA', 'Chance_of_Admit']

In [107]:
df[feature].corr().drop('Chance_of_Admit')['Chance_of_Admit'].max()

0.8732890993553006

In [108]:
# 답 : 0.873

In [109]:
# 2.GRE 점수의 평균 이상을 받은 그룹과 평균 미만을 받은 그룹의 CGPA 평균은 차이가
# 있는지
# 검정을 하고자 한다.
# - 적절한 검정 방법을 선택하고 양측 검정을 수행하시오 (등분산으로 가정)
# - 검정 결과, 검정통계량의 추정치를 소수점 셋째 자리에서 반올림하여 소수점 두 자리까지
# 기술하시오.
# (답안 예시) 1.23

In [110]:
cut_line = df['GRE'].mean()
up_df = df[df['GRE'] >= cut_line]['CGPA']
down_df = df[df['GRE'] < cut_line]['CGPA']

In [113]:
up_df

0      9.65
1      8.87
3      8.67
5      9.34
6      8.20
       ...
394    9.23
395    9.04
396    9.11
397    9.45
399    9.66
Name: CGPA, Length: 205, dtype: float64

In [114]:
down_df

2      8.00
4      8.21
7      7.90
8      8.00
13     8.00
       ...
386    7.96
387    8.10
388    7.80
390    8.24
398    8.78
Name: CGPA, Length: 195, dtype: float64

In [111]:
from scipy.stats import ttest_ind

In [112]:
ttest_ind(up_df, down_df)

Ttest_indResult(statistic=19.443291692470982, pvalue=1.1127037052806161e-59)

In [115]:
# 답 : 19.44

In [116]:
# 3.Chance_of_Admit 확률이 0.5를 초과하면 합격으로, 이하이면 불합격으로 구분하고
# 로지스틱 회귀분석을 수행하시오.
# - 원데이터만 사용하고, 원데이터 가운데 Serial_No와 Label은 모형에서 제외
# - 각 설정값은 다음과 같이 지정하고, 언급되지 않은 사항은 기본 설정값을 사용하시오
# Seed : 123
# - 로지스틱 회귀분석 수행 결과에서 로지스틱 회귀계수의 절대값이 가장 큰 변수와 그 값을
# 기술하시오. 
# (로지스틱 회귀계수는 반올림하여 소수점 둘째 자리까지 / Intercept는 제외)
# (답안 예시) abc, 0.12

In [117]:
df = pd.read_csv('../Dataset/Dataset_07.csv')
df.head()

,Serial_No,GRE,TOEFL,University_Rating,SOP,LOR,CGPA,Research,Chance_of_Admit
0,1,337,118,4,4.5,4.5,9.65,1,0.92
1,2,324,107,4,4.0,4.5,8.87,1,0.76
2,3,316,104,3,3.0,3.5,8.00,1,0.72
3,4,322,110,3,3.5,2.5,8.67,1,0.80
4,5,314,103,2,2.0,3.0,8.21,0,0.65

In [119]:
df.columns

Index(['Serial_No', 'GRE', 'TOEFL', 'University_Rating', 'SOP', 'LOR', 'CGPA',
       'Research', 'Chance_of_Admit'],
      dtype='object')

In [120]:
feature = ['GRE', 'TOEFL', 'University_Rating', 'SOP', 'LOR', 'CGPA', 'Research']

In [121]:
from sklearn.linear_model import LogisticRegression

In [172]:
model = LogisticRegression(fit_intercept=False, random_state=123)

In [173]:
df['ch'] = np.where(df['Chance_of_Admit'] > 0.5, 1, 0)

In [174]:
result = model.fit(df[feature], df['ch'])

C:\Users\BAUM\AppData\Roaming\Python\Python39\site-packages\sklearn\linear_model\_logistic.py:814: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. of ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  n_iter_i = _check_optimize_result(

In [175]:
result.coef_.shape

(1, 7)

In [176]:
coef = pd.Series(result.coef_.reshape(-1))
coef

0   -0.089978
1    0.106333
2    0.056308
3   -0.245532
4    1.015202
5    2.010332
6    0.688569
dtype: float64

In [177]:
coef.index = feature

In [178]:
coef

GRE                 -0.089978
TOEFL                0.106333
University_Rating    0.056308
SOP                 -0.245532
LOR                  1.015202
CGPA                 2.010332
Research             0.688569
dtype: float64

In [179]:
coef.abs().idxmax()

'CGPA'

In [180]:
# 답 : CGPA, 2.01

In [181]:
# # 문제 08 유형(DataSet_08.csv 이용)
#
# 구분자 : comma(“,”), 50 Rows, 5 Columns, UTF-8 인코딩
#
# 스타트업 기업들의 수익성에 대한 분석을 하기 위하여
# 아래와 같은 데이터를 입수하였다
#
# 
# 컬 럼 / 정 의 / Type
# RandD_Spend / 연구개발비 지출 / Double
# Administration / 운영관리비 지출 / Double
# Marketing_Spend / 마케팅비 지출 / Double
# State / 본사 위치 / String
# Profit / 이익 / Double

In [182]:
import pandas as pd
import numpy as np

In [184]:
df = pd.read_csv('../Dataset/Dataset_08.csv')
df.head(3)

   RandD_Spend  Administration  Marketing_Spend       State     Profit
0    165349.20       136897.80        471784.10    New York  192261.83
1    162597.70       151377.59        443898.53  California  191792.06
2    153441.51       101145.55        407934.54     Florida  191050.39

In [185]:
# 1.각 주(State)별 데이터 구성비를 소수점 둘째 자리까지 구하고, 알파벳 순으로
# 기술하시오(주 이름 기준).
# (답안 예시) 0.12, 0.34, 0.54

In [191]:
df['State'].value_counts(normalize=True).sort_index().values

array([0.34, 0.32, 0.34])

In [192]:
# 답 : 0.34, 0.32, 0.34

In [193]:
# 2.주별 이익의 평균을 구하고, 평균 이익이 가장 큰 주와 작은 주의 차이를 구하시오. 
# 차이값은 소수점 이하는 버리고 정수부분만 기술하시오. (답안 예시) 1234

In [197]:
df2 = pd.pivot_table(df, index='State', values='Profit')
df2

                   Profit
State
California  103905.175294
Florida     118774.024375
New York    113756.446471

In [199]:
df2['Profit'].max()

118774.02437500001

In [200]:
df2['Profit'].min()

103905.17529411765

In [201]:
df2['Profit'].max() - df2['Profit'].min()

14868.849080882355

In [202]:
# 답 : 14868

In [203]:
# 3.독립변수로 RandD_Spend, Administration, Marketing_Spend를 사용하여 Profit을 주별로
# 예측하는 회귀 모형을 만들고, 이 회귀모형을 사용하여 학습오차를 산출하시오.
# - 주별로 계산된 학습오차 중 MAPE 기준으로 가장 낮은 오차를 보이는 주는 어느
# 주이고 그 값은 무엇인가? (반올림하여 소수점 둘째 자리까지 기술하시오)
# - (MAPE = Σ ( | y - y ̂ | / y ) * 100/n )
# (답안 예시) ABC, 1.56

In [210]:
feature = ['RandD_Spend', 'Administration', 'Marketing_Spend']

In [211]:
var_list = ['California', 'Florida', 'New York']

In [212]:
from sklearn.linear_model import LinearRegression

In [220]:
result = []
for i in var_list:
    temp = df[df['State'] == i]
    model = LinearRegression()
    model.fit(temp[feature], temp['Profit'])
    pred = model.predict(temp[feature])
    mape = (abs(temp['Profit'] - pred) / temp['Profit']).sum() * 100 / len(temp)
    result.append([i, mape])
result = pd.DataFrame(result, columns = ['var', 'mape'])
result

          var       mape
0  California  15.227582
1     Florida   5.706713
2    New York   8.524248

In [221]:
result['mape'].idxmin()

1

In [223]:
# 답 : Florida, 5.71

In [224]:
# # 문제 09 유형(DataSet_09.csv 이용)
#
# 구분자 : comma(“,”), 2000 Rows, 16 Columns, UTF-8 인코딩
#
# 항공사에서 고객만족도 조사를 하고 서비스 개선에 활용하고자
# 아래와 같은 데이터를 준비하였다.
#
# 컬 럼 / 정 의 / Type
# satisfaction / 서비스 만족 여부 / String
# Gender / 성별 / String
# Age / 나이 / Double
# Customer_Type / 고객 타입 / String
# Class / 탑승 좌석 등급 / String
# Flight_Distance / 비행 거리 / Double
# Seat_comfort / 좌석 안락도 점수 / Double
# Food_and_Drink / 식사와 음료 점수 / Double
# Inflight_wifi_service / 기내 와이파이 서비스 점수 / Double
# Inflight_entertainment / 기내 엔터테인먼트 서비스 점수 / Double
# Onboard_service / 탑승 서비스 점수 / Double
# Leg_room_service / 다리 공간 점수 / Double
# Baggage_handling / 수하물 취급 점수 / Double
# Cleanliness / 청결도 점수 / Double
# Departure_Daly_in_Minutes / 출발 지연 (분) / Double
# Arrival_Delay_in_Minutes / 도착 지연 (분) / Double

In [225]:
import pandas as pd
import numpy as np

In [226]:
df = pd.read_csv('../Dataset/Dataset_09.csv')
df.head()

,satisfaction,Gender,Age,Customer_Type,Class,Flight_Distance,Seat_comfort,Food_and_drink,Inflight_wifi_service,Inflight_entertainment,Onboard_service,Leg_room_service,Baggage_handling,Cleanliness,Departure_Delay_in_Minutes,Arrival_Delay_in_Minutes
0,satisfied,Female,19.0,Loyal Customer,Eco,1981.0,4.0,4.0,1.0,4.0,4.0,4.0,4.0,4.0,3.0,28.0
1,dissatisfied,Female,64.0,Loyal Customer,Eco,2847.0,1.0,1.0,1.0,2.0,5.0,3.0,4.0,4.0,111.0,133.0
2,dissatisfied,Male,55.0,Loyal Customer,Eco,3790.0,1.0,1.0,2.0,1.0,4.0,4.0,4.0,4.0,2.0,15.0
3,satisfied,Female,39.0,Loyal Customer,Eco,1741.0,4.0,4.0,5.0,4.0,1.0,1.0,5.0,5.0,2.0,0.0
4,dissatisfied,Female,29.0,Loyal Customer,Eco,3829.0,2.0,1.0,1.0,4.0,2.0,4.0,3.0,1.0,365.0,383.0

In [227]:
# (참고)
# #1
# import pandas as pd
# import numpy as np
# #2
# import scipy.stats as stats
# #3
# from sklearn.linear_model import LogisticRegression
# from sklearn.model_selection import train_test_split
# from sklearn import metrics

In [228]:
# 1.데이터 타입을 위 표에 정의된 타입으로 전처리를 한 후, 데이터 파일 내에 결측값은
# 총 몇 개인가? (답안 예시) 1

In [229]:
df.isnull().sum().sum()

5

In [230]:
# 답 : 5

In [231]:
# 2.다음에 제시된 데이터 처리를 하고 카이제곱 독립성 검정을 수행하시오.
# - 결측값이 있다면 해당 행을 제거하시오.
# - 나이는 20 이하이면 10, 30 이하이면 20, 40 이하이면 30, 50 이하이면 40, 60 이하이면 50, 
# 60 초과는 60으로 변환하여 Age_gr으로 파생변수를 생성하시오.
# - Age_gr, Gender, Customer_Type, Class 변수가 satisfaction에 영향이 있는지 카이제곱
# 독립성 검정을 수행하시오. 
# - 연관성이 있는 것으로 파악된 변수의 검정통계량 추정치를 정수 부분만 기술하시오. 
# (답안 예시) 123

In [256]:
df2 = df.copy()

In [257]:
df2 = df2.dropna()

In [259]:
df2['Age_gr'] = np.where(df2.Age <= 20, 10,
                np.where(df2.Age <= 30, 20,
                   np.where(df2.Age <= 40, 30,
                     np.where(df2.Age <= 50, 40,
                        np.where(df2.Age <= 60, 50,  60)))))

In [260]:
feature=['Age_gr', 'Gender', 'Customer_Type', 'Class']

In [261]:
from scipy.stats import chi2_contingency

In [263]:
q2_out=[]
for i in var_list:
    q2_tab=pd.crosstab(index=df2[i], columns=df2['satisfaction'])
    chi, pvalue, *_=chi2_contingency(q2_tab)
    q2_out.append([i, chi, pvalue])

q2_out=pd.DataFrame(q2_out, columns=['var', 'chi', 'pvalue'])

q2_out

             var          chi         pvalue
0         Age_gr     2.287008   8.081731e-01
1         Gender  1066.782426  5.478170e-234
2  Customer_Type     0.469192   4.933591e-01
3          Class     0.311549   8.557520e-01

In [255]:
result[result['p'] < 0.05]

      var          chi              p
1  Gender  1066.782426  5.478170e-234

In [242]:
# 답 : 1066

In [251]:
import pandas as pd

data9=pd.read_csv('../Dataset/Dataset_09.csv')
q2=data9.copy()
q2.columns

import numpy as np
q2['Age_gr']=np.where(q2.Age <= 20, 10,
                np.where(q2.Age <= 30, 20,
                   np.where(q2.Age <= 40, 30,
                     np.where(q2.Age <= 50, 40,
                        np.where(q2.Age <= 60, 50,  60)))))


from scipy.stats import chi2_contingency


# - Age_gr, Gender, Customer_Type, Class 변수가 satisfaction에 영향이 있는지
var_list=['Age_gr', 'Gender', 'Customer_Type', 'Class']

q2_out=[]
for i in var_list:
    q2_tab=pd.crosstab(index=q2[i], columns=q2['satisfaction'])
    chi, pvalue, *_=chi2_contingency(q2_tab)
    q2_out.append([i, chi, pvalue])

q2_out=pd.DataFrame(q2_out, columns=['var', 'chi', 'pvalue'])

q2_out

             var          chi         pvalue
0         Age_gr     2.270309   8.106176e-01
1         Gender  1068.632582  2.170219e-234
2  Customer_Type     0.463691   4.959041e-01
3          Class     0.303303   8.592877e-01