In [2]:
import pandas as pd
import numpy as np

In [3]:
idx = pd.DatetimeIndex(['2019-01-01', '2020-01-01', '2020-02-01', '2020-03-01', '2020-04-01', '2020-05-01'])
s = pd.Series([0, 1, 2, 3, 4, 5], index=idx)
s

2019-01-01    0
2020-01-01    1
2020-02-01    2
2020-03-01    3
2020-04-01    4
2020-05-01    5
dtype: int64

In [4]:
s['2020-1-1':]

2020-01-01    1
2020-02-01    2
2020-03-01    3
2020-04-01    4
2020-05-01    5
dtype: int64

In [5]:
s[:'2020-02-01']

2019-01-01    0
2020-01-01    1
2020-02-01    2
dtype: int64

In [6]:
s['2019']

2019-01-01    0
dtype: int64

In [7]:
from datetime import datetime
dates = pd.to_datetime(['12-12-2019', datetime(2020, 1, 1), '2nd of Feb, 2020', '2020-Mar-4', '20200701'])
dates

DatetimeIndex(['2019-12-12', '2020-01-01', '2020-02-02', '2020-03-04',
               '2020-07-01'],
              dtype='datetime64[ns]', freq=None)

In [8]:
dates.to_period('D')

PeriodIndex(['2019-12-12', '2020-01-01', '2020-02-02', '2020-03-04',
             '2020-07-01'],
            dtype='period[D]', freq='D')

In [9]:
dates - dates[0]

TimedeltaIndex(['0 days', '20 days', '52 days', '83 days', '202 days'], dtype='timedelta64[ns]', freq=None)

In [10]:
pd.date_range('2020-01-01', '2020-07-01', freq='M')

DatetimeIndex(['2020-01-31', '2020-02-29', '2020-03-31', '2020-04-30',
               '2020-05-31', '2020-06-30'],
              dtype='datetime64[ns]', freq='M')

In [11]:
pd.date_range('2020-01-01', periods=7)

DatetimeIndex(['2020-01-01', '2020-01-02', '2020-01-03', '2020-01-04',
               '2020-01-05', '2020-01-06', '2020-01-07'],
              dtype='datetime64[ns]', freq='D')

In [12]:
pd.date_range('2020-01-01', periods=7, freq='Y')

DatetimeIndex(['2020-12-31', '2021-12-31', '2022-12-31', '2023-12-31',
               '2024-12-31', '2025-12-31', '2026-12-31'],
              dtype='datetime64[ns]', freq='A-DEC')

In [13]:
idx = pd.to_datetime(['2020-01-01 12:00:00', '2020-01-02 00:00:00'] + [None])
idx

DatetimeIndex(['2020-01-01 12:00:00', '2020-01-02 00:00:00', 'NaT'], dtype='datetime64[ns]', freq=None)

In [14]:
idx[2]

NaT

In [15]:
pd.isnull(idx)

array([False, False,  True])

In [16]:
dates = [datetime(2020, 11, 1), datetime(2020, 1, 2), datetime(2020, 1, 4), datetime(2020, 1, 7), datetime(2020, 1, 10), datetime(2020, 1, 11), datetime(2020, 1, 15)]
dates

[datetime.datetime(2020, 11, 1, 0, 0),
 datetime.datetime(2020, 1, 2, 0, 0),
 datetime.datetime(2020, 1, 4, 0, 0),
 datetime.datetime(2020, 1, 7, 0, 0),
 datetime.datetime(2020, 1, 10, 0, 0),
 datetime.datetime(2020, 1, 11, 0, 0),
 datetime.datetime(2020, 1, 15, 0, 0)]

In [17]:
ts = pd.Series(np.random.randn(7), index=dates)

In [18]:
ts

2020-11-01   -0.275923
2020-01-02    0.123591
2020-01-04   -0.452011
2020-01-07    0.690074
2020-01-10   -0.787094
2020-01-11   -0.980691
2020-01-15   -0.299093
dtype: float64

In [19]:
ts.index

DatetimeIndex(['2020-11-01', '2020-01-02', '2020-01-04', '2020-01-07',
               '2020-01-10', '2020-01-11', '2020-01-15'],
              dtype='datetime64[ns]', freq=None)

In [20]:
ts.index[0]

Timestamp('2020-11-01 00:00:00')

In [21]:
ts[ts.index[2]]

-0.4520112308686932

In [22]:
ts['20200104']

2020-01-04   -0.452011
dtype: float64

In [23]:
ts['1/4/2020']

2020-01-04   -0.452011
dtype: float64

In [24]:
ts = pd.Series(np.random.randn(1000), index=pd.date_range('2017-10-01', periods=1000))
ts

2017-10-01    0.095459
2017-10-02   -0.216281
2017-10-03    0.413498
2017-10-04    1.625595
2017-10-05   -0.889908
                ...
2020-06-22   -0.165392
2020-06-23   -0.200917
2020-06-24    0.090538
2020-06-25   -0.605723
2020-06-26    1.802147
Freq: D, Length: 1000, dtype: float64

In [25]:
ts['2020']

2020-01-01   -0.669683
2020-01-02    0.842078
2020-01-03   -1.030575
2020-01-04    1.067683
2020-01-05    0.224187
                ...
2020-06-22   -0.165392
2020-06-23   -0.200917
2020-06-24    0.090538
2020-06-25   -0.605723
2020-06-26    1.802147
Freq: D, Length: 178, dtype: float64

In [27]:
ts['2020-06']

2020-06-01   -0.223934
2020-06-02    1.076014
2020-06-03    1.105775
2020-06-04    0.180677
2020-06-05    0.136511
2020-06-06   -0.359679
2020-06-07    0.644545
2020-06-08   -0.183685
2020-06-09   -0.359852
2020-06-10    2.267040
2020-06-11    0.369356
2020-06-12    1.740389
2020-06-13   -0.591900
2020-06-14   -0.423184
2020-06-15   -1.060175
2020-06-16    2.107101
2020-06-17   -0.145727
2020-06-18   -2.103717
2020-06-19   -0.147172
2020-06-20    0.782113
2020-06-21   -0.828020
2020-06-22   -0.165392
2020-06-23   -0.200917
2020-06-24    0.090538
2020-06-25   -0.605723
2020-06-26    1.802147
Freq: D, dtype: float64

In [28]:
ts[datetime(2020, 6, 20):]

2020-06-20    0.782113
2020-06-21   -0.828020
2020-06-22   -0.165392
2020-06-23   -0.200917
2020-06-24    0.090538
2020-06-25   -0.605723
2020-06-26    1.802147
Freq: D, dtype: float64

In [29]:
ts['2020-06-10':'2020-06-21']

2020-06-10    2.267040
2020-06-11    0.369356
2020-06-12    1.740389
2020-06-13   -0.591900
2020-06-14   -0.423184
2020-06-15   -1.060175
2020-06-16    2.107101
2020-06-17   -0.145727
2020-06-18   -2.103717
2020-06-19   -0.147172
2020-06-20    0.782113
2020-06-21   -0.828020
Freq: D, dtype: float64

In [37]:
tdf = pd.DataFrame(np.random.randn(1000, 4), index=pd.date_range('2017-10-01', periods=1000),
columns=['A', 'B', 'C', 'D'])
tdf

                   A         B         C         D
2017-10-01 -0.720415  0.493216  0.296138  1.728816
2017-10-02 -0.338902 -2.561687 -0.313756  1.075831
2017-10-03 -1.420977  0.022302  0.097989  0.352624
2017-10-04 -0.423487 -0.358275  0.778204  1.322375
2017-10-05 -0.170131  0.478889 -0.503357 -1.103315
...              ...       ...       ...       ...
2020-06-22 -0.146451 -1.186737  0.919506  1.166833
2020-06-23  0.015220  0.571894  0.116920 -0.720141
2020-06-24 -1.077888  1.201903 -0.255389 -0.371551
2020-06-25 -1.935540  2.294162  0.421897  0.935761
2020-06-26 -0.492553 -0.471453 -0.509807 -1.096885

[1000 rows x 4 columns]

In [38]:
tdf['2020-06']

C:\Users\BAUM\AppData\Local\Temp\ipykernel_23328\2574130361.py:1: FutureWarning: Indexing a DataFrame with a datetimelike index using a single string to slice the rows, like `frame[string]`, is deprecated and will be removed in a future version. Use `frame.loc[string]` instead.
  tdf['2020-06']

                   A         B         C         D
2020-06-01  0.616699 -0.609567  0.445692  0.367993
2020-06-02  1.045729 -0.325076  0.498439  1.268164
2020-06-03  0.562521  0.370245 -0.460054 -0.933783
2020-06-04 -0.051769 -1.014659  1.073228 -0.885662
2020-06-05 -0.493956 -0.439371 -1.272655  0.449629
2020-06-06 -0.574231 -0.436742  0.474281  0.950586
2020-06-07  0.539639  0.730122  0.143904  1.346524
2020-06-08  1.314258  2.159244 -0.620519  0.936521
2020-06-09 -0.513407 -2.333257 -0.195608 -1.364942
2020-06-10  2.775021 -0.443058  1.776297 -0.026369
2020-06-11 -0.154746  0.108138  1.065831 -0.376753
2020-06-12  0.368761  2.223338 -0.732532 -0.103691
2020-06-13 -1.328021 -0.949136  1.184124 -1.063901
2020-06-14 -0.990397  0.763166  0.393510  0.187605
2020-06-15  1.374248  0.338960 -1.274270  1.332807
2020-06-16 -0.243726  0.341181 -0.529977 -1.062784
2020-06-17  1.496438  0.362917  0.716323 -0.714563
2020-06-18 -0.847402 -0.122499  1.298627  0.370346
2020-06-19 -0.437576  0.584262  0.364482 -1.344084
2020-06-20 -1.284742 -1.525411 -0.378054 -0.604797
2020-06-21 -0.136106 -2.253422 -1.233112  0.233398
2020-06-22 -0.146451 -1.186737  0.919506  1.166833
2020-06-23  0.015220  0.571894  0.116920 -0.720141
2020-06-24 -1.077888  1.201903 -0.255389 -0.371551
2020-06-25 -1.935540  2.294162  0.421897  0.935761
2020-06-26 -0.492553 -0.471453 -0.509807 -1.096885

In [39]:
tdf['2020-06-20':]

                   A         B         C         D
2020-06-20 -1.284742 -1.525411 -0.378054 -0.604797
2020-06-21 -0.136106 -2.253422 -1.233112  0.233398
2020-06-22 -0.146451 -1.186737  0.919506  1.166833
2020-06-23  0.015220  0.571894  0.116920 -0.720141
2020-06-24 -1.077888  1.201903 -0.255389 -0.371551
2020-06-25 -1.935540  2.294162  0.421897  0.935761
2020-06-26 -0.492553 -0.471453 -0.509807 -1.096885

In [40]:
tdf['C']

2017-10-01    0.296138
2017-10-02   -0.313756
2017-10-03    0.097989
2017-10-04    0.778204
2017-10-05   -0.503357
                ...
2020-06-22    0.919506
2020-06-23    0.116920
2020-06-24   -0.255389
2020-06-25    0.421897
2020-06-26   -0.509807
Freq: D, Name: C, Length: 1000, dtype: float64

In [41]:
ts = pd.Series(np.random.randn(10),
index = pd.DatetimeIndex(['2020-01-01', '2020-01-02', '2020-01-01', '2020-01-01', '2020-01-03', '2020-01-04', '2020-01-05', '2020-01-06', '2020-01-07', '2020-01-08']))
ts

2020-01-01   -0.210129
2020-01-02   -0.560435
2020-01-01    3.102205
2020-01-01   -1.261721
2020-01-03    1.035129
2020-01-04    1.374672
2020-01-05   -1.020539
2020-01-06   -1.354951
2020-01-07    0.096751
2020-01-08    1.295314
dtype: float64

In [43]:
ts.index.is_unique

False

In [44]:
ts['2020-01-01']

2020-01-01   -0.210129
2020-01-01    3.102205
2020-01-01   -1.261721
dtype: float64

In [45]:
ts.groupby(level=0).mean()

2020-01-01    0.543452
2020-01-02   -0.560435
2020-01-03    1.035129
2020-01-04    1.374672
2020-01-05   -1.020539
2020-01-06   -1.354951
2020-01-07    0.096751
2020-01-08    1.295314
dtype: float64

In [47]:
pd.date_range(start='2020-01-01', periods=10)

DatetimeIndex(['2020-01-01', '2020-01-02', '2020-01-03', '2020-01-04',
               '2020-01-05', '2020-01-06', '2020-01-07', '2020-01-08',
               '2020-01-09', '2020-01-10'],
              dtype='datetime64[ns]', freq='D')

In [48]:
pd.date_range(end='2020-07-01', periods=10)

DatetimeIndex(['2020-06-22', '2020-06-23', '2020-06-24', '2020-06-25',
               '2020-06-26', '2020-06-27', '2020-06-28', '2020-06-29',
               '2020-06-30', '2020-07-01'],
              dtype='datetime64[ns]', freq='D')

In [52]:
pd.date_range('2020-07-01', '2020-07-7', freq='B')

DatetimeIndex(['2020-07-01', '2020-07-02', '2020-07-03', '2020-07-06',
               '2020-07-07'],
              dtype='datetime64[ns]', freq='B')

In [54]:
pd.timedelta_range(0, periods=12, freq ='H')

TimedeltaIndex(['0 days 00:00:00', '0 days 01:00:00', '0 days 02:00:00',
                '0 days 03:00:00', '0 days 04:00:00', '0 days 05:00:00',
                '0 days 06:00:00', '0 days 07:00:00', '0 days 08:00:00',
                '0 days 09:00:00', '0 days 10:00:00', '0 days 11:00:00'],
               dtype='timedelta64[ns]', freq='H')

In [55]:
pd.timedelta_range(0, periods=12, freq='T')

TimedeltaIndex(['0 days 00:00:00', '0 days 00:01:00', '0 days 00:02:00',
                '0 days 00:03:00', '0 days 00:04:00', '0 days 00:05:00',
                '0 days 00:06:00', '0 days 00:07:00', '0 days 00:08:00',
                '0 days 00:09:00', '0 days 00:10:00', '0 days 00:11:00'],
               dtype='timedelta64[ns]', freq='T')

In [56]:
pd.timedelta_range(0, periods=10, freq='1H30T')

TimedeltaIndex(['0 days 00:00:00', '0 days 01:30:00', '0 days 03:00:00',
                '0 days 04:30:00', '0 days 06:00:00', '0 days 07:30:00',
                '0 days 09:00:00', '0 days 10:30:00', '0 days 12:00:00',
                '0 days 13:30:00'],
               dtype='timedelta64[ns]', freq='90T')

In [58]:
pd.timedelta_range(0, periods=10, freq='45T')

TimedeltaIndex(['0 days 00:00:00', '0 days 00:45:00', '0 days 01:30:00',
                '0 days 02:15:00', '0 days 03:00:00', '0 days 03:45:00',
                '0 days 04:30:00', '0 days 05:15:00', '0 days 06:00:00',
                '0 days 06:45:00'],
               dtype='timedelta64[ns]', freq='45T')

In [59]:
pd.date_range('2020-01-01', periods=20, freq='B')

DatetimeIndex(['2020-01-01', '2020-01-02', '2020-01-03', '2020-01-06',
               '2020-01-07', '2020-01-08', '2020-01-09', '2020-01-10',
               '2020-01-13', '2020-01-14', '2020-01-15', '2020-01-16',
               '2020-01-17', '2020-01-20', '2020-01-21', '2020-01-22',
               '2020-01-23', '2020-01-24', '2020-01-27', '2020-01-28'],
              dtype='datetime64[ns]', freq='B')

In [62]:
pd.date_range('2020-01-01', periods=30, freq='ms')

DatetimeIndex([       '2020-01-01 00:00:00', '2020-01-01 00:00:00.001000',
               '2020-01-01 00:00:00.002000', '2020-01-01 00:00:00.003000',
               '2020-01-01 00:00:00.004000', '2020-01-01 00:00:00.005000',
               '2020-01-01 00:00:00.006000', '2020-01-01 00:00:00.007000',
               '2020-01-01 00:00:00.008000', '2020-01-01 00:00:00.009000',
               '2020-01-01 00:00:00.010000', '2020-01-01 00:00:00.011000',
               '2020-01-01 00:00:00.012000', '2020-01-01 00:00:00.013000',
               '2020-01-01 00:00:00.014000', '2020-01-01 00:00:00.015000',
               '2020-01-01 00:00:00.016000', '2020-01-01 00:00:00.017000',
               '2020-01-01 00:00:00.018000', '2020-01-01 00:00:00.019000',
               '2020-01-01 00:00:00.020000', '2020-01-01 00:00:00.021000',
               '2020-01-01 00:00:00.022000', '2020-01-01 00:00:00.023000',
               '2020-01-01 00:00:00.024000', '2020-01-01 00:00:00.025000',
               '2020-01-01 00:00:00.026000', '2020-01-01 00:00:00.027000',
               '2020-01-01 00:00:00.028000', '2020-01-01 00:00:00.029000'],
              dtype='datetime64[ns]', freq='L')

In [63]:
ts = pd.Series(np.random.randn(5),
index = pd.date_range('2020-01-01', periods =5, freq = 'B'))

In [64]:
ts

2020-01-01   -0.238819
2020-01-02    1.053098
2020-01-03   -0.944206
2020-01-06   -1.573630
2020-01-07    2.430355
Freq: B, dtype: float64

In [65]:
ts.shift(1)

2020-01-01         NaN
2020-01-02   -0.238819
2020-01-03    1.053098
2020-01-06   -0.944206
2020-01-07   -1.573630
Freq: B, dtype: float64

In [66]:
ts.shift(3)

2020-01-01         NaN
2020-01-02         NaN
2020-01-03         NaN
2020-01-06   -0.238819
2020-01-07    1.053098
Freq: B, dtype: float64

In [67]:
ts.shift(-1)

2020-01-01    1.053098
2020-01-02   -0.944206
2020-01-03   -1.573630
2020-01-06    2.430355
2020-01-07         NaN
Freq: B, dtype: float64

In [68]:
ts.shift(3, freq ='B')

2020-01-06   -0.238819
2020-01-07    1.053098
2020-01-08   -0.944206
2020-01-09   -1.573630
2020-01-10    2.430355
Freq: B, dtype: float64

In [69]:
ts.shift(3, freq ='H')

2020-01-01 03:00:00   -0.238819
2020-01-02 03:00:00    1.053098
2020-01-03 03:00:00   -0.944206
2020-01-06 03:00:00   -1.573630
2020-01-07 03:00:00    2.430355
dtype: float64

In [71]:
ts.shift(3, freq='W')

2020-01-19   -0.238819
2020-01-19    1.053098
2020-01-19   -0.944206
2020-01-26   -1.573630
2020-01-26    2.430355
dtype: float64

In [72]:
import pytz
pytz.common_timezones

['Africa/Abidjan', 'Africa/Accra', 'Africa/Addis_Ababa', 'Africa/Algiers', 'Africa/Asmara', 'Africa/Bamako', 'Africa/Bangui', 'Africa/Banjul', 'Africa/Bissau', 'Africa/Blantyre', 'Africa/Brazzaville', 'Africa/Bujumbura', 'Africa/Cairo', 'Africa/Casablanca', 'Africa/Ceuta', 'Africa/Conakry', 'Africa/Dakar', 'Africa/Dar_es_Salaam', 'Africa/Djibouti', 'Africa/Douala', 'Africa/El_Aaiun', 'Africa/Freetown', 'Africa/Gaborone', 'Africa/Harare', 'Africa/Johannesburg', 'Africa/Juba', 'Africa/Kampala', 'Africa/Khartoum', 'Africa/Kigali', 'Africa/Kinshasa', 'Africa/Lagos', 'Africa/Libreville', 'Africa/Lome', 'Africa/Luanda', 'Africa/Lubumbashi', 'Africa/Lusaka', 'Africa/Malabo', 'Africa/Maputo', 'Africa/Maseru', 'Africa/Mbabane', 'Africa/Mogadishu', 'Africa/Monrovia', 'Africa/Nairobi', 'Africa/Ndjamena', 'Africa/Niamey', 'Africa/Nouakchott', 'Africa/Ouagadougou', 'Africa/Porto-Novo', 'Africa/Sao_Tome', 'Africa/Tripoli', 'Africa/Tunis', 'Africa/Windhoek', 'America/Adak', 'America/Anchorage', 'America/Anguilla', 'America/Antigua', 'America/Araguaina', 'America/Argentina/Buenos_Aires', 'America/Argentina/Catamarca', 'America/Argentina/Cordoba', 'America/Argentina/Jujuy', 'America/Argentina/La_Rioja', 'America/Argentina/Mendoza', 'America/Argentina/Rio_Gallegos', 'America/Argentina/Salta', 'America/Argentina/San_Juan', 'America/Argentina/San_Luis', 'America/Argentina/Tucuman', 'America/Argentina/Ushuaia', 'America/Aruba', 'America/Asuncion', 'America/Atikokan', 'America/Bahia', 'America/Bahia_Banderas', 'America/Barbados', 'America/Belem', 'America/Belize', 'America/Blanc-Sablon', 'America/Boa_Vista', 'America/Bogota', 'America/Boise', 'America/Cambridge_Bay', 'America/Campo_Grande', 'America/Cancun', 'America/Caracas', 'America/Cayenne', 'America/Cayman', 'America/Chicago', 'America/Chihuahua', 'America/Costa_Rica', 'America/Creston', 'America/Cuiaba', 'America/Curacao', 'America/Danmarkshavn', 'America/Dawson', 'America/Dawson_Creek', 'America/Denver', 'America/Detroit', 'America/Dominica', 'America/Edmonton', 'America/Eirunepe', 'America/El_Salvador', 'America/Fort_Nelson', 'America/Fortaleza', 'America/Glace_Bay', 'America/Goose_Bay', 'America/Grand_Turk', 'America/Grenada', 'America/Guadeloupe', 'America/Guatemala', 'America/Guayaquil', 'America/Guyana', 'America/Halifax', 'America/Havana', 'America/Hermosillo', 'America/Indiana/Indianapolis', 'America/Indiana/Knox', 'America/Indiana/Marengo', 'America/Indiana/Petersburg', 'America/Indiana/Tell_City', 'America/Indiana/Vevay', 'America/Indiana/Vincennes', 'America/Indiana/Winamac', 'America/Inuvik', 'America/Iqaluit', 'America/Jamaica', 'America/Juneau', 'America/Kentucky/Louisville', 'America/Kentucky/Monticello', 'America/Kralendijk', 'America/La_Paz', 'America/Lima', 'America/Los_Angeles', 'America/Lower_Princes', 'America/Maceio', 'America/Managua', 'America/Manaus', 'America/Marigot', 'America/Martinique', 'America/Matamoros', 'America/Mazatlan', 'America/Menominee', 'America/Merida', 'America/Metlakatla', 'America/Mexico_City', 'America/Miquelon', 'America/Moncton', 'America/Monterrey', 'America/Montevideo', 'America/Montserrat', 'America/Nassau', 'America/New_York', 'America/Nipigon', 'America/Nome', 'America/Noronha', 'America/North_Dakota/Beulah', 'America/North_Dakota/Center', 'America/North_Dakota/New_Salem', 'America/Nuuk', 'America/Ojinaga', 'America/Panama', 'America/Pangnirtung', 'America/Paramaribo', 'America/Phoenix', 'America/Port-au-Prince', 'America/Port_of_Spain', 'America/Porto_Velho', 'America/Puerto_Rico', 'America/Punta_Arenas', 'America/Rainy_River', 'America/Rankin_Inlet', 'America/Recife', 'America/Regina', 'America/Resolute', 'America/Rio_Branco', 'America/Santarem', 'America/Santiago', 'America/Santo_Domingo', 'America/Sao_Paulo', 'America/Scoresbysund', 'America/Sitka', 'America/St_Barthelemy', 'America/St_Johns', 'America/St_Kitts', 'America/St_Lucia', 'America/St_Thomas', 'America/St_Vincent', 'America/Swift_Current', 'America/Tegucigalpa', 'America/Thule', 'America/Thunder_Bay', 'America/Tijuana', 'America/Toronto', 'America/Tortola', 'America/Vancouver', 'America/Whitehorse', 'America/Winnipeg', 'America/Yakutat', 'America/Yellowknife', 'Antarctica/Casey', 'Antarctica/Davis', 'Antarctica/DumontDUrville', 'Antarctica/Macquarie', 'Antarctica/Mawson', 'Antarctica/McMurdo', 'Antarctica/Palmer', 'Antarctica/Rothera', 'Antarctica/Syowa', 'Antarctica/Troll', 'Antarctica/Vostok', 'Arctic/Longyearbyen', 'Asia/Aden', 'Asia/Almaty', 'Asia/Amman', 'Asia/Anadyr', 'Asia/Aqtau', 'Asia/Aqtobe', 'Asia/Ashgabat', 'Asia/Atyrau', 'Asia/Baghdad', 'Asia/Bahrain', 'Asia/Baku', 'Asia/Bangkok', 'Asia/Barnaul', 'Asia/Beirut', 'Asia/Bishkek', 'Asia/Brunei', 'Asia/Chita', 'Asia/Choibalsan', 'Asia/Colombo', 'Asia/Damascus', 'Asia/Dhaka', 'Asia/Dili', 'Asia/Dubai', 'Asia/Dushanbe', 'Asia/Famagusta', 'Asia/Gaza', 'Asia/Hebron', 'Asia/Ho_Chi_Minh', 'Asia/Hong_Kong', 'Asia/Hovd', 'Asia/Irkutsk', 'Asia/Jakarta', 'Asia/Jayapura', 'Asia/Jerusalem', 'Asia/Kabul', 'Asia/Kamchatka', 'Asia/Karachi', 'Asia/Kathmandu', 'Asia/Khandyga', 'Asia/Kolkata', 'Asia/Krasnoyarsk', 'Asia/Kuala_Lumpur', 'Asia/Kuching', 'Asia/Kuwait', 'Asia/Macau', 'Asia/Magadan', 'Asia/Makassar', 'Asia/Manila', 'Asia/Muscat', 'Asia/Nicosia', 'Asia/Novokuznetsk', 'Asia/Novosibirsk', 'Asia/Omsk', 'Asia/Oral', 'Asia/Phnom_Penh', 'Asia/Pontianak', 'Asia/Pyongyang', 'Asia/Qatar', 'Asia/Qostanay', 'Asia/Qyzylorda', 'Asia/Riyadh', 'Asia/Sakhalin', 'Asia/Samarkand', 'Asia/Seoul', 'Asia/Shanghai', 'Asia/Singapore', 'Asia/Srednekolymsk', 'Asia/Taipei', 'Asia/Tashkent', 'Asia/Tbilisi', 'Asia/Tehran', 'Asia/Thimphu', 'Asia/Tokyo', 'Asia/Tomsk', 'Asia/Ulaanbaatar', 'Asia/Urumqi', 'Asia/Ust-Nera', 'Asia/Vientiane', 'Asia/Vladivostok', 'Asia/Yakutsk', 'Asia/Yangon', 'Asia/Yekaterinburg', 'Asia/Yerevan', 'Atlantic/Azores', 'Atlantic/Bermuda', 'Atlantic/Canary', 'Atlantic/Cape_Verde', 'Atlantic/Faroe', 'Atlantic/Madeira', 'Atlantic/Reykjavik', 'Atlantic/South_Georgia', 'Atlantic/St_Helena', 'Atlantic/Stanley', 'Australia/Adelaide', 'Australia/Brisbane', 'Australia/Broken_Hill', 'Australia/Darwin', 'Australia/Eucla', 'Australia/Hobart', 'Australia/Lindeman', 'Australia/Lord_Howe', 'Australia/Melbourne', 'Australia/Perth', 'Australia/Sydney', 'Canada/Atlantic', 'Canada/Central', 'Canada/Eastern', 'Canada/Mountain', 'Canada/Newfoundland', 'Canada/Pacific', 'Europe/Amsterdam', 'Europe/Andorra', 'Europe/Astrakhan', 'Europe/Athens', 'Europe/Belgrade', 'Europe/Berlin', 'Europe/Bratislava', 'Europe/Brussels', 'Europe/Bucharest', 'Europe/Budapest', 'Europe/Busingen', 'Europe/Chisinau', 'Europe/Copenhagen', 'Europe/Dublin', 'Europe/Gibraltar', 'Europe/Guernsey', 'Europe/Helsinki', 'Europe/Isle_of_Man', 'Europe/Istanbul', 'Europe/Jersey', 'Europe/Kaliningrad', 'Europe/Kiev', 'Europe/Kirov', 'Europe/Lisbon', 'Europe/Ljubljana', 'Europe/London', 'Europe/Luxembourg', 'Europe/Madrid', 'Europe/Malta', 'Europe/Mariehamn', 'Europe/Minsk', 'Europe/Monaco', 'Europe/Moscow', 'Europe/Oslo', 'Europe/Paris', 'Europe/Podgorica', 'Europe/Prague', 'Europe/Riga', 'Europe/Rome', 'Europe/Samara', 'Europe/San_Marino', 'Europe/Sarajevo', 'Europe/Saratov', 'Europe/Simferopol', 'Europe/Skopje', 'Europe/Sofia', 'Europe/Stockholm', 'Europe/Tallinn', 'Europe/Tirane', 'Europe/Ulyanovsk', 'Europe/Uzhgorod', 'Europe/Vaduz', 'Europe/Vatican', 'Europe/Vienna', 'Europe/Vilnius', 'Europe/Volgograd', 'Europe/Warsaw', 'Europe/Zagreb', 'Europe/Zaporozhye', 'Europe/Zurich', 'GMT', 'Indian/Antananarivo', 'Indian/Chagos', 'Indian/Christmas', 'Indian/Cocos', 'Indian/Comoro', 'Indian/Kerguelen', 'Indian/Mahe', 'Indian/Maldives', 'Indian/Mauritius', 'Indian/Mayotte', 'Indian/Reunion', 'Pacific/Apia', 'Pacific/Auckland', 'Pacific/Bougainville', 'Pacific/Chatham', 'Pacific/Chuuk', 'Pacific/Easter', 'Pacific/Efate', 'Pacific/Fakaofo', 'Pacific/Fiji', 'Pacific/Funafuti', 'Pacific/Galapagos', 'Pacific/Gambier', 'Pacific/Guadalcanal', 'Pacific/Guam', 'Pacific/Honolulu', 'Pacific/Kanton', 'Pacific/Kiritimati', 'Pacific/Kosrae', 'Pacific/Kwajalein', 'Pacific/Majuro', 'Pacific/Marquesas', 'Pacific/Midway', 'Pacific/Nauru', 'Pacific/Niue', 'Pacific/Norfolk', 'Pacific/Noumea', 'Pacific/Pago_Pago', 'Pacific/Palau', 'Pacific/Pitcairn', 'Pacific/Pohnpei', 'Pacific/Port_Moresby', 'Pacific/Rarotonga', 'Pacific/Saipan', 'Pacific/Tahiti', 'Pacific/Tarawa', 'Pacific/Tongatapu', 'Pacific/Wake', 'Pacific/Wallis', 'US/Alaska', 'US/Arizona', 'US/Central', 'US/Eastern', 'US/Hawaii', 'US/Mountain', 'US/Pacific', 'UTC']

In [73]:
tz = pytz.timezone('Asia/Seoul')

In [74]:
dinx = pd.date_range('2020-01-01 09:00', periods=7, freq='B')
ps = pd.Series(np.random.randn(len(dinx)), index=dinx)
ps

2020-01-01 09:00:00    0.620875
2020-01-02 09:00:00   -0.279549
2020-01-03 09:00:00    0.388790
2020-01-06 09:00:00   -0.794345
2020-01-07 09:00:00    1.357506
2020-01-08 09:00:00    0.078609
2020-01-09 09:00:00   -0.417974
Freq: B, dtype: float64

In [75]:
pd.date_range('2020-01-01 09:00', periods=7, freq='B', tz='UTC')

DatetimeIndex(['2020-01-01 09:00:00+00:00', '2020-01-02 09:00:00+00:00',
               '2020-01-03 09:00:00+00:00', '2020-01-06 09:00:00+00:00',
               '2020-01-07 09:00:00+00:00', '2020-01-08 09:00:00+00:00',
               '2020-01-09 09:00:00+00:00'],
              dtype='datetime64[ns, UTC]', freq='B')

In [77]:
ts_utc = ps.tz_localize('UTC')
ts_utc

2020-01-01 09:00:00+00:00    0.620875
2020-01-02 09:00:00+00:00   -0.279549
2020-01-03 09:00:00+00:00    0.388790
2020-01-06 09:00:00+00:00   -0.794345
2020-01-07 09:00:00+00:00    1.357506
2020-01-08 09:00:00+00:00    0.078609
2020-01-09 09:00:00+00:00   -0.417974
Freq: B, dtype: float64

In [78]:
ts_utc.index

DatetimeIndex(['2020-01-01 09:00:00+00:00', '2020-01-02 09:00:00+00:00',
               '2020-01-03 09:00:00+00:00', '2020-01-06 09:00:00+00:00',
               '2020-01-07 09:00:00+00:00', '2020-01-08 09:00:00+00:00',
               '2020-01-09 09:00:00+00:00'],
              dtype='datetime64[ns, UTC]', freq='B')

In [79]:
ts_utc.tz_convert('Asia/Seoul')

2020-01-01 18:00:00+09:00    0.620875
2020-01-02 18:00:00+09:00   -0.279549
2020-01-03 18:00:00+09:00    0.388790
2020-01-06 18:00:00+09:00   -0.794345
2020-01-07 18:00:00+09:00    1.357506
2020-01-08 18:00:00+09:00    0.078609
2020-01-09 18:00:00+09:00   -0.417974
Freq: B, dtype: float64

In [80]:
ts_seoul = ps.tz_localize('Asia/seoul')
ts_seoul

2020-01-01 09:00:00+09:00    0.620875
2020-01-02 09:00:00+09:00   -0.279549
2020-01-03 09:00:00+09:00    0.388790
2020-01-06 09:00:00+09:00   -0.794345
2020-01-07 09:00:00+09:00    1.357506
2020-01-08 09:00:00+09:00    0.078609
2020-01-09 09:00:00+09:00   -0.417974
dtype: float64

In [81]:
ts_seoul.tz_convert('UTC')

2020-01-01 00:00:00+00:00    0.620875
2020-01-02 00:00:00+00:00   -0.279549
2020-01-03 00:00:00+00:00    0.388790
2020-01-06 00:00:00+00:00   -0.794345
2020-01-07 00:00:00+00:00    1.357506
2020-01-08 00:00:00+00:00    0.078609
2020-01-09 00:00:00+00:00   -0.417974
dtype: float64

In [82]:
ts_seoul.tz_convert('Europe/Berlin')

2020-01-01 01:00:00+01:00    0.620875
2020-01-02 01:00:00+01:00   -0.279549
2020-01-03 01:00:00+01:00    0.388790
2020-01-06 01:00:00+01:00   -0.794345
2020-01-07 01:00:00+01:00    1.357506
2020-01-08 01:00:00+01:00    0.078609
2020-01-09 01:00:00+01:00   -0.417974
dtype: float64

In [83]:
ps.index.tz_localize('America/New_York')

DatetimeIndex(['2020-01-01 09:00:00-05:00', '2020-01-02 09:00:00-05:00',
               '2020-01-03 09:00:00-05:00', '2020-01-06 09:00:00-05:00',
               '2020-01-07 09:00:00-05:00', '2020-01-08 09:00:00-05:00',
               '2020-01-09 09:00:00-05:00'],
              dtype='datetime64[ns, America/New_York]', freq=None)

In [84]:
stamp = pd.Timestamp('2020-01-01 12:00')
stamp_utc = stamp.tz_localize('UTC')
stamp_utc

Timestamp('2020-01-01 12:00:00+0000', tz='UTC')

In [85]:
stamp_utc.value

1577880000000000000

In [86]:
stamp_utc.tz_convert('Asia/Seoul')

Timestamp('2020-01-01 21:00:00+0900', tz='Asia/Seoul')

In [87]:
stamp_utc.tz_convert('Asia/Seoul').value

1577880000000000000

In [88]:
stamp_ny = pd.Timestamp('2020-01-01 12:00', tz='America/New_York')
stamp_ny

Timestamp('2020-01-01 12:00:00-0500', tz='America/New_York')

In [89]:
stamp_utc.value

1577880000000000000

In [91]:
stamp_ny.value

1577898000000000000

In [92]:
stamp_utc.tz_convert('Asia/Shanghai')

Timestamp('2020-01-01 20:00:00+0800', tz='Asia/Shanghai')

In [93]:
stamp = pd.Timestamp('2020-01-01 12:00', tz='Asia/Seoul')
stamp

Timestamp('2020-01-01 12:00:00+0900', tz='Asia/Seoul')

In [94]:
from pandas.tseries.offsets import Hour
stamp + Hour()

Timestamp('2020-01-01 13:00:00+0900', tz='Asia/Seoul')

In [95]:
stamp + 3 * Hour()

Timestamp('2020-01-01 15:00:00+0900', tz='Asia/Seoul')

In [96]:
ts_utc

2020-01-01 09:00:00+00:00    0.620875
2020-01-02 09:00:00+00:00   -0.279549
2020-01-03 09:00:00+00:00    0.388790
2020-01-06 09:00:00+00:00   -0.794345
2020-01-07 09:00:00+00:00    1.357506
2020-01-08 09:00:00+00:00    0.078609
2020-01-09 09:00:00+00:00   -0.417974
Freq: B, dtype: float64

In [97]:
ts1 = ts_utc[:5].tz_convert('Europe/Berlin')
ts2 = ts_utc[2:].tz_convert('America/New_York')
ts = ts1 + ts2
ts

2020-01-01 09:00:00+00:00         NaN
2020-01-02 09:00:00+00:00         NaN
2020-01-03 09:00:00+00:00    0.777580
2020-01-06 09:00:00+00:00   -1.588689
2020-01-07 09:00:00+00:00    2.715013
2020-01-08 09:00:00+00:00         NaN
2020-01-09 09:00:00+00:00         NaN
Freq: B, dtype: float64

In [98]:
ts.index

DatetimeIndex(['2020-01-01 09:00:00+00:00', '2020-01-02 09:00:00+00:00',
               '2020-01-03 09:00:00+00:00', '2020-01-06 09:00:00+00:00',
               '2020-01-07 09:00:00+00:00', '2020-01-08 09:00:00+00:00',
               '2020-01-09 09:00:00+00:00'],
              dtype='datetime64[ns, UTC]', freq='B')

In [99]:
p = pd.Period(2020, freq='A-JAN')
p

Period('2020', 'A-JAN')

In [100]:
p + 2

Period('2022', 'A-JAN')

In [101]:
p - 3

Period('2017', 'A-JAN')

In [104]:
p1 = pd.Period(2010, freq = "A-JAN")
p2 = pd.Period(2020, freq="A-JAN")
p1 - p2

<-10 * YearEnds: month=1>

In [106]:
pr = pd.period_range('2020-01-01', '2020-06-30', freq='M')

In [107]:
pd.Series(np.random.randn(6), index=pr)

2020-01   -0.476578
2020-02   -1.517974
2020-03    0.643817
2020-04    0.868305
2020-05    1.763789
2020-06   -0.088643
Freq: M, dtype: float64

In [108]:
pidx = pd.PeriodIndex(['2020-1', '2020-2', '2020-4'], freq='M')
pidx

PeriodIndex(['2020-01', '2020-02', '2020-04'], dtype='period[M]', freq='M')

In [109]:
p = pd.Period('2020', freq='A-FEB')
p

Period('2020', 'A-FEB')

In [110]:
p.asfreq('M', how='start')

Period('2019-03', 'M')

In [111]:
p.asfreq('M', how='end')

Period('2020-02', 'M')

In [112]:
p = pd.Period('2020', freq='A-OCT')
p

Period('2020', 'A-OCT')

In [113]:
p.asfreq('M', how='start')

Period('2019-11', 'M')

In [114]:
p.asfreq('M', how='end')

Period('2020-10', 'M')

In [115]:
pr = pd.period_range('2010', '2020', freq='A-JAN')
ts = pd.Series(np.random.randn(len(pr)), index=pr)
ts

2010    1.173320
2011    1.502935
2012    0.765576
2013   -0.000042
2014    0.926108
2015    0.762154
2016   -1.238680
2017   -0.738429
2018    1.502170
2019   -0.648996
2020    0.375825
Freq: A-JAN, dtype: float64

In [116]:
ts.asfreq('M', how='start')

2009-02    1.173320
2010-02    1.502935
2011-02    0.765576
2012-02   -0.000042
2013-02    0.926108
2014-02    0.762154
2015-02   -1.238680
2016-02   -0.738429
2017-02    1.502170
2018-02   -0.648996
2019-02    0.375825
Freq: M, dtype: float64

In [117]:
ts.asfreq('M', how='end')

2010-01    1.173320
2011-01    1.502935
2012-01    0.765576
2013-01   -0.000042
2014-01    0.926108
2015-01    0.762154
2016-01   -1.238680
2017-01   -0.738429
2018-01    1.502170
2019-01   -0.648996
2020-01    0.375825
Freq: M, dtype: float64

In [118]:
ts.asfreq('B', how='end')

2010-01-29    1.173320
2011-01-31    1.502935
2012-01-31    0.765576
2013-01-31   -0.000042
2014-01-31    0.926108
2015-01-30    0.762154
2016-01-29   -1.238680
2017-01-31   -0.738429
2018-01-31    1.502170
2019-01-31   -0.648996
2020-01-31    0.375825
Freq: B, dtype: float64

In [119]:
p = pd.Period('2020Q2', freq='Q-JAN')
p

Period('2020Q2', 'Q-JAN')

In [120]:
p.asfreq('D', 'start')

Period('2019-05-01', 'D')

In [121]:
p.asfreq('D', 'end')

Period('2019-07-31', 'D')

In [122]:
pr = pd.period_range('2019Q3', '2020Q3', freq='Q-JAN')
ts = pd.Series(np.arange(len(pr)), index=pr)
ts

2019Q3    0
2019Q4    1
2020Q1    2
2020Q2    3
2020Q3    4
Freq: Q-JAN, dtype: int32

In [125]:
pr = pd.date_range('2020-01-01', periods=5, freq='Q-JAN')
ts = pd.Series(np.random.randn(5), index=pr)
ts

2020-01-31   -0.359894
2020-04-30   -0.348036
2020-07-31    1.032680
2020-10-31   -0.618941
2021-01-31   -0.309545
Freq: Q-JAN, dtype: float64

In [126]:
ts.to_period()

2020Q4   -0.359894
2021Q1   -0.348036
2021Q2    1.032680
2021Q3   -0.618941
2021Q4   -0.309545
Freq: Q-JAN, dtype: float64

In [127]:
pr = pd.date_range('2020-01-01', periods=5, freq='D')
ts = pd.Series(np.random.randn(5), index=pr)
ts

2020-01-01   -1.335773
2020-01-02   -0.980227
2020-01-03   -0.969173
2020-01-04    1.342443
2020-01-05   -0.094335
Freq: D, dtype: float64

In [131]:
p = ts.to_period('M')

In [132]:
p.to_timestamp(how='start')

2020-01-01   -1.335773
2020-01-01   -0.980227
2020-01-01   -0.969173
2020-01-01    1.342443
2020-01-01   -0.094335
dtype: float64

In [133]:
ts.index

DatetimeIndex(['2020-01-01', '2020-01-02', '2020-01-03', '2020-01-04',
               '2020-01-05'],
              dtype='datetime64[ns]', freq='D')