In [17]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import matplotlib
matplotlib.rcParams['font.family'] = 'Malgun Gothic'
matplotlib.rcParams['font.size'] = 15
matplotlib.rcParams['axes.unicode_minus'] = False

In [18]:
df = pd.read_csv('C:/Users/BAUM/Desktop/multicampus/TIL/기본강의/시각화/data/상가업소정보_201912_01.csv', sep='|')

In [19]:
df.columns

Index(['상가업소번호', '상호명', '지점명', '상권업종대분류코드', '상권업종대분류명', '상권업종중분류코드',
       '상권업종중분류명', '상권업종소분류코드', '상권업종소분류명', '표준산업분류코드', '표준산업분류명', '시도코드',
       '시도명', '시군구코드', '시군구명', '행정동코드', '행정동명', '법정동코드', '법정동명', '지번코드',
       '대지구분코드', '대지구분명', '지번본번지', '지번부번지', '지번주소', '도로명코드', '도로명', '건물본번지',
       '건물부번지', '건물관리번호', '건물명', '도로명주소', '구우편번호', '신우편번호', '동정보', '층정보',
       '호정보', '경도', '위도'],
      dtype='object')

In [30]:
filt = (df['상호명'].isin(['스타벅스'])) | (df['시도명'].isin(['서울특별시']))

In [31]:
df = df[filt]

In [32]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 302 entries, 1104 to 571052
Data columns (total 39 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   상가업소번호     302 non-null    int64
 1   상호명        302 non-null    object
 2   지점명        296 non-null    object
 3   상권업종대분류코드  302 non-null    object
 4   상권업종대분류명   302 non-null    object
 5   상권업종중분류코드  302 non-null    object
 6   상권업종중분류명   302 non-null    object
 7   상권업종소분류코드  302 non-null    object
 8   상권업종소분류명   302 non-null    object
 9   표준산업분류코드   302 non-null    object
 10  표준산업분류명    302 non-null    object
 11  시도코드       302 non-null    int64
 12  시도명        302 non-null    object
 13  시군구코드      302 non-null    int64
 14  시군구명       302 non-null    object
 15  행정동코드      302 non-null    int64
 16  행정동명       302 non-null    object
 17  법정동코드      302 non-null    int64
 18  법정동명       302 non-null    object
 19  지번코드       302 non-null    int64
 20  대지구분코드     302 non-null    int64
 21  대지구분명      302 non-null    object
 22  지번본번지      302 non-null    int64
 23  지번부번지      236 non-null    float64
 24  지번주소       302 non-null    object
 25  도로명코드      302 non-null    int64
 26  도로명        302 non-null    object
 27  건물본번지      302 non-null    int64
 28  건물부번지      10 non-null     float64
 29  건물관리번호     302 non-null    object
 30  건물명        233 non-null    object
 31  도로명주소      302 non-null    object
 32  구우편번호      302 non-null    int64
 33  신우편번호      302 non-null    float64
 34  동정보        11 non-null     object
 35  층정보        239 non-null    object
 36  호정보        42 non-null     object
 37  경도         302 non-null    float64
 38  위도         302 non-null    float64
dtypes: float64(5), int64(11), object(23)
memory usage: 94.4+ KB